[2021-04-18 17:04] jayunit100 opened #3 "Table tests for kube-proxy"
We currently have some working going on with comparing old iptables/ipvs/... rules w/ those generated by KPNG.
As part of this, what we need is a way to generate table driven tests for various kube proxy permutations:

- Host Port Services
- NodePort local enabled / disabled
- Loadbalancer services
- ClusterIP Services
- NodePort services
- endpointSlices on / off

ideally if we could have a daemo

[2021-04-18 17:12] mcluseau commented on #3
sure, the more we test conformity the better. I'm just not sure for endpoint slices, I feel like we should drop support for Endpoints in kpng, as it may already be well aligned with their deprecation (or at least the EndpointSlices being GA and not optional).

[2021-04-19 01:39] jayunit100 opened #6 "Testing on Kind: APIServer proxy not working"
We have a new development recipe in the PR #5 .... When i run it, everything comes up however

- kpng server wants to access the apiserver through 10.96.0.1
- apiserver on 10.96.0.1 is a route that normally is written by... kube proxy
- since now kube proxy is running (other then kpng), the route falls down `dial tcp 10.96.0.1:443: i/o timeout`.

to reproduce, you can directly run the hack/local-u

[2021-04-19 10:43] mcluseau commented on #6
hence the `--master` flag, that's the most direct way to specify an alternative target. One can also specify a `HostAlias` (with APIServer or a LB on port 443), inject a custom kubeconfig via a ConfigMap, etc.

[2021-04-19 10:54] mcluseau commented on #6
btw it seems `--master` is replaced by `--server` nowadays, so I'll change that right now so we conform.

[2021-04-19 12:49] jayunit100 commented on #6
yup i changed it already :)

[2021-04-19 13:42] jayunit100 commented on #6
i guess im asking more of a theoretical question then anything else - https://groups.google.com/g/kubernetes-sig-network/c/GKwCWXlpx04

[2021-04-19 14:24] jayunit100 commented on #6
ya interesting idea

[2021-04-23 15:55] uablrek opened #8 "Endpoints are missed when creating many services fast"
I create many pods and services in one command by apply a directory;
[code]
Most services has 4 endpoints in my setup but when accessing only a few is used;
[code]
Both services has 4 endpoints. I waited for ~30 min to see if sync would fix this but the problem remains.

Output from `print-state`: [print-state.txt](https://github.com/mcluseau/kpng/files/6243327/print-state.txt)

[2021-04-23 15:55] uablrek commented on #8
Copied from the old repo

[2021-04-23 16:25] jayunit100 commented on #6
Solutions:
- make an apiserver client token ?
- keepalived + host-alias
- run kpng on the apiserver, `--server=IP` (IP is in the kube generated cert)

[2021-04-23 16:38] uablrek commented on #6
Start with `kube-apiserver --token-auth-file=/srv/kubernetes/known_tokens.csv ...`. Set env before starting `kpng` KUBECONFIG=/etc/kubernetes/kubeconfig.token

The kubeconfig.token file;
[code]
`kpng` will use the `$KUBECONFIG` and access the api-server without problem.

[2021-04-23 16:41] uablrek commented on #6
Generate the token file;
[code]

[2021-04-23 16:44] uablrek commented on #6
My /srv/kubernetes/known_tokens.csv
[code]

[2021-04-23 16:51] jayunit100 opened #9 "rename server->bind"
need to rename the `--server` flag - `--bind` since the normal
way we test is by binding to a local socket.

[2021-04-23 17:09] uablrek commented on #8
Restarting `kpng` fixes the problem.

[2021-04-23 21:44] mcluseau commented on #8
The output from print-state shows 4 endpoints per service so it seems the
issue is either in full state sink or the nft backend.

On Fri, Apr 23, 2021, 19:10 Lars Ekman ***@***.***> wrote:

[2021-04-25 10:39] #9 closed

[2021-05-02 13:50] jayunit100 commented on #6
we found a few workarounds for this:
- using the kubelet config directly and increasing its api permissions
- using the kubeconfig config similar to what kindnormally does.... and just mounting it into kubeconfig

the hack/ recipes are up to date now and working... closing...  thanks for your help ulabrek and mikael ...

We have a new issue though, where somehow `coredns` doesnt resolve 10.96.0.1

[2021-05-02 13:50] #6 closed

[2021-05-02 13:59] jayunit100 opened #12 "hack/kind recipe: Coredns cant resolve 10.96.0.1"
Very odd bug we saw w the kind local up recipe:

1) A normal coredns container *cant* access the apiserver
2) A curl image *can* access it

Through the 10.96.0.1 service endpoint

[code]

However a regular `curl` image on the same endpoint works fine from 10.96.0.1.

*hypothesis*

the endpoint from 10.96.0.1 -> pod is somehow not written properly to coredns pods ?

clearly, its correctly set, and

[2021-05-02 14:46] jayunit100 commented on #12
[code]

[2021-05-02 15:00] jayunit100 commented on #12
talking w @rikatz and others -
looks like theres an issue around how nftables / `iptables-legacy` interact.

Is there a canonical way to make nftables is installed properly?

[2021-05-02 15:30] jayunit100 commented on #12
seems like the workaround here is
- update all the iptables legacy stuff to properly use nftables
- modify coredns to use KUBERNETES_SERVICE_HOST and KUBERNETSE_SERVICE_PORT variables in the deployment

THANKs to @rikatz  for helping me with this !!!!!!!!!!!!

[2021-05-02 15:36] jayunit100 commented on #12
![image](https://user-images.githubusercontent.com/826111/116818639-4b44c280-ab21-11eb-80b0-0237b3ad99a1.png)

FYI, for folks, ideally, you should see THIS as the ouotput of `iptables-legacy -L` and `iptables-nft -L`, respectively.

- The iptables-legacy rules should be empty
- the iptables-nft rules should be NON empty

If you dont get this when you exec inside of your NODE (kubelet) then your NF

[2021-05-02 16:27] hanlins commented on #12
As @mcluseau and @jayunit100 discussed in the channel, what about adding some validation in the nft backend, just to check if the `iptables-nft` instead of `iptables-legacy` is being used in the system? So `iptables-nft` becomes a hard requirement for nft backend so we won't see this problem. For legacy users, they can choose to use some other backend e.g. iptables sink instead of nft, how about t

[2021-05-03 00:04] jayunit100 commented on #12
Yup, ill file an issue for what we talked about

[2021-05-03 00:07] jayunit100 opened #13 "a self-awareness "interface" for NFT pod"
The NFT tables pod is susceptible to naughty bhaviour when iptables is installed.

To remediate this, and also, to create a precendent for other service proxy backends, lets:

- add a "SystsemCheck()" or similar implementatino in the NFT backend
- Have it verify that *all* `iptables` rules (i.e. see the ones in #12) are empty
- if iptables rules non-empty print continous warnings that are extremel

[2021-05-03 00:08] jayunit100 commented on #13
/assign @hanlins

[2021-05-03 00:09] jayunit100 commented on #13
@mcluseau let us know if any details we need to update here

[2021-05-03 18:27] hanlins commented on #13
Had some discussion with @mcluseau, later we might introduce subcommand `to-best-fit` which selects the best sink backend based on the system check results. Will add some functionality here to check whether the `nft` requirement is met. In the `nft` sink, will invoke this backend but won't error out if the system is not compatible. We will leave this flexibility of using `nft` backend to the users

[2021-05-03 19:46] hanlins opened #14 "Need an iptables sink backend for kpng"
Now we have the `nft` sink backend which should be the preferred sink backend for Linux platform. However, sometimes `nft` is not as stable as `iptables`, and could have byte-level and bit-level endian mismatch (pointed by @mcluseau). Also, in some situations, the system could have `iptables-legacy` in used, which creates `iptables` rules that are not backed and recognized by `nft`.

Given those r

[2021-05-03 19:47] hanlins commented on #14
I can try on this implementation :)
/assign hanlins

[2021-05-04 01:33] jayunit100 opened #15 "NFT: Add NodePort Support to KPNG"
Looks like NodePorts arent working....

# is this NFT specific?

@andrewsykim was asking wether or not the nodeport issue was provider specific, i think it is...
because we have nodeports in the spec
[code]

# DETAILS

Ive finished running the conformance results for the hack/ scripts:

The major hole at the moment is ~ nodeport support

It appears that most of the service dependent tests fail.

[

[2021-05-04 02:41] jayunit100 commented on #15
coredns logs:

[code]

Collected by turning:

[code]

[2021-05-04 02:46] jayunit100 commented on #15
as a smoke test, heres what it sais when i curl `kubernetes` from a pod:

[code]
Thus, the `kubernetes` rule seems to be working - so at least *some* notion of DNS is valid.

[2021-05-04 03:02] jayunit100 commented on #13
make sure those logs are really explicit and repeated periodically :)

[2021-05-04 03:46] jayunit100 commented on #15
im starting to wonder:

is it possible that *loopback* services dont work ( or do work )

for example , coredns seems to work 50% of the time , when im using calico as the CNI.

maybe thats because calico as CNI allowed multinode networking to be working....

Im goint to try an experiment of increasing the node count....

[2021-05-04 17:54] mcluseau commented on #15
thanks for testing, yeah NodePorts, I've not implemented that yet, but it shouldn't be too hard

[2021-05-05 03:11] jayunit100 commented on #15
ahhhh yes ok that explains it :)

[2021-05-05 03:16] jayunit100 commented on #15
Ok, the remaining tests:
- DNS resolution
- switch session affinity for ClusterIPs
- DNS for services
- DNS for ExternalName Services

[2021-05-05 03:17] jayunit100 commented on #15
ill separate that into separate issues.

[2021-05-05 03:20] jayunit100 opened #17 "Investigate why DNS related Conformance tests fail"
Ive found that DNS tests fail consistently on Kind KPNG recipes.  Ive tried a few things to fix it:
- using calico as the CNI instead of Kind-net
- scaling the # of coredns pods up (in case the error was somehow related to loopback services)

Neither seemed to fix anything.  Is there something particularly special about DNS resolution that might be effecting KPNG or nftables?

The DNS Tests which

[2021-05-05 03:25] jayunit100 commented on #17
Hypothesis ~ theres an issue related to UDP on the kpng proxyies?

[2021-05-05 03:40] jayunit100 commented on #17
i noticed this is reproducible even by creating an nginx pod + and running `kubectl expose` on it.  IT turns out i think the root cause is that DNS is inherently flakey ---

[code]

I wonder wether this is related again to iptables ... i notice that , on my host machine `iptables-save` returns several `DOCKER-ISOLATION...` values.  (ive updated my OS to use ubuntu groovy, which i thought might all

[2021-05-05 10:22] aojea commented on #17
link to the logs or failing job?

[2021-05-05 10:24] aojea commented on #17
kind export logs  and create a tarball

[2021-05-06 01:21] jayunit100 commented on #17
ok good idea will do

[2021-05-06 02:50] jayunit100 commented on #17
- hypothesis: UDP is a problem?  maybe is valid
at least some dns tests fail on conformance, even on single node clusters.  so suspecting theres a specific bug around udp but not sure what it is yet
- hypothesis that multiservices is a problem... not validated yet need to wait for conformance tests to complete...

will post more data tomorrow

[2021-05-07 15:13] jayunit100 opened #18 "Testing IPVS with Kpng"
@rikatz made a prototype of ipvs https://github.com/rikatz/kpng-ipvs-backend to make us happy :)

Ive filed a few NFT issues, but we havent tested wether these issues persist on IPVS as well.

Lets test kpng with IPVS and see which conformance tests pass.

[2021-05-07 20:31] mcluseau commented on #8
I've found a bug that has a really high probability to have caused your issue (not a race condition though). It's worth trying again :)

[2021-05-08 09:55] uablrek commented on #8
No, still the same problem. Re-built on;
[code]
Is there a `kpng version` command of some kind, showing version or git commit? If not, it should be IMHO.

[2021-05-09 10:45] uablrek opened #20 "Failing K8s [sig-network] e2e tests"
This is a more of a report than an issue. Please feel free to close this issue if there is a better place for reporting test outcomes.

I have discussed on slack that the `Conformance` suite is not optimal for testing `kpng`. It takes a long time and tests many non-network things. Many relevant `[sig-network]` tests are also _not_ in the Conformance suite.

I test with;
[code]
At the time of writi

[2021-05-09 10:46] uablrek commented on #20
Use `less -R k8s-e2e.txt` to view colors instead of esc-sequences.

[2021-05-09 11:46] uablrek commented on #8
I am testing dual-stack, with `ipFamilies` and `ipFamilyPolicy` here.
Is kpng and the nft backend prepared for that? Or am I tesing a Not-Implemented-Yet feature?

[2021-05-09 11:59] uablrek commented on #18
I made some initial tests. Basic operation with 2 IPv4 services (+kubernetes svc) worked fine. But the binary is not named `ipvs` as said in the README but `kpng-backend-ipvs` which is better. My `$KUBECONFIG` is set and I start with defaults;
[code]
My own tests does however include dual-stack and when I try to create IPv6 and dual-stack services `kpng-backend-ipvs` craches. Please see
[kpng-back

[2021-05-09 12:05] jayunit100 commented on #20
Can you give OS details for your nodes ? Thanks Lars !!!!

[2021-05-09 12:21] uablrek commented on #20
I run on my own built system;
[code]

[2021-05-09 13:03] uablrek commented on #18
@rikatz Some K8s e2e results below

Since dual-stack seem to make the backend crash those tests are excluded. Tests with;
[code]
Summary;
[code]
Full test output; [k8s-e2e.txt](https://github.com/kubernetes-sigs/kpng/files/6447565/k8s-e2e.txt)

[2021-05-09 13:09] uablrek commented on #18
Oh, and the `kpng-backend-ipvs` survived :smile:

[2021-05-10 07:22] aojea commented on #20
Conformance take below 25 minutes if run in parallel, you have to skip the serial tests (I can't remember the number but less than 6).
Every test in the e2e exercises the network, from probes to deployments that scale, services and endpoints, ...

If you want to run e2e tests in parallel you need to use ginkgo to parallelize the e2e binary:

[code]

[2021-05-11 05:39] uablrek commented on #20
`4844.666 seconds`! That's about 1h21m. Something is wrong. I could run 63 tests in <10m and I don't have a powerful machine.

I got a good tip on Slack howto _run one single e2e test_. The trick is to replace space with `.`;
[code]
I am not using `kubetest` any more but a script similar to the one in https://github.com/kubernetes-sigs/kpng/issues/20#issuecomment-836288799. But the inortant is the

[2021-05-11 08:10] uablrek opened #21 "Kpng should have a version command"
As development proceeds and test reports and issues are created is becomes crucial to know the `kpng` version that is tested. For now all `kpng` users are building their own version and can provide a git commit in the report/issue. But soon users can take a binary version (I assume).

[code]

Should be added and print a version (git tag) for releases and a commit for "home-built" versions.

[2021-05-11 09:28] uablrek commented on #21
Fixed by https://github.com/kubernetes-sigs/kpng/pull/22

[2021-05-11 11:05] uablrek commented on #20
BTW `--ginkgo-parallel` makes ginkgo execute on 25 "nodes", which means 25 in parallel if I have got it right.
See the [k8s-e2e.txt](https://github.com/kubernetes-sigs/kpng/files/6447302/k8s-e2e.txt) in this issue;
[code]
(color esc-sequences removed)

[2021-05-12 06:04] uablrek commented on #21
Merged https://github.com/kubernetes-sigs/kpng/pull/22. Closing.

[2021-05-12 06:04] #21 closed

[2021-05-14 16:25] jayunit100 opened #24 "Experiment: swap out kpng kind recipes w/ Vagrantfile and Ubuntu?"
that way the nft and other issues related iptables/ipvs kernel versinoing can be isolated from
the core issues we have in other parts of KPNG

Right now, to run Kind, we need to ensure the HOST has the right iptables-legacy configuration, and that
is pretty tricky to do !

[2021-05-14 16:30] kundan2707 commented on #24
/assign

[2021-05-21 16:14] jayunit100 opened #26 "NFT container fail if NFT not enabled properly"
@hanamantagoud dig into https://developers.redhat.com/blog/2020/08/18/iptables-the-two-variants-and-their-relationship-with-nftables or ricardo katz' blog post, you might be able to find the commands needed for `nft` to validate that it *can* run....

1) Find a couple of system exec calls we can run to validate that nft can work (i.e. check iptables-legacy, check iptables-version)....

2) Write so

[2021-05-21 16:40] jayunit100 commented on #26
/assign @rikatz

[2021-05-23 17:51] #15 closed

[2021-05-28 15:44] jayunit100 opened #30 "Verify Hairpin proxy scenarios"
- e2e tests that are failing related to hairpin connectivty
- one node cluster tests fail consistently, for some of the e2e service endpoint tests

@hanamantagoudvk is digging into this

[2021-05-28 15:50] jayunit100 commented on #30
Looking at this w hanamant, hes saying that this `jump` is failing....

@mcluseau suggesting that this may be related to the way we are using nft `fib` , or the way fib itself works (docs arent clear)

[code]

[2021-06-04 15:48] uablrek opened #32 "IPv6 does not work"
On a dual-stack K8s cluster with base family IPv4 services using IPv6 does not work, examples;
[code]
Neither of these works. The `mserver-preferdual` have dual-stack addresses;
[code]
but not even the IPv4 address works.

On a dual-stack K8s cluster with base family IPv6 no services works.

[2021-06-04 16:17] jayunit100 opened #33 "remove udp"
*note this is more of a perf / security issue for large scale clusters so its not super high priority right now*

This is probably a decent getting started issue....  The existing kube proxy does some cleanup of Conntrack UDP tables..

[code]

We should implement this, the same way, in KPNG.

My question here would be - how do we test this ? ...  i think upstream there arent good tests for this bu

[2021-06-04 16:25] uablrek opened #34 "Backend ipvs only works on the local node"
When using the `ipvs` backend there is no masquerading when the call is routed to another node. So only calls to the local node works _from the main netns on the node_. There must be some rule that uses the `KUBE-MARK-MASQ` chain;

[code]

[2021-06-04 16:27] uablrek commented on #34
/cc @rikatz

[2021-06-04 17:18] jayunit100 opened #35 "local-up-kpng: large clusters on kind?"
Tried an initial take at 20 nodes, on a centos box, and got

[code]

Not sure why, just a note, we have a shared dev box that uses centos stream

[2021-06-09 12:20] hanamantagoudvk commented on #30
I enabled trace on nft and see this path the packet is taking.

[code]

I am executing curl on node-ip:node-port (i.e curl http://node-ip:3xxxx) from client pod.

Packet from client pod reaches worker node on calib3f8f4ebdf2 interface (as seen below).
May be **_fib daddr . iif type local_**  trying to search node-ip (i.e 172.18.0.4) on calib3f8f4ebdf2  instead of eth0.
The worker node out is given

[2021-06-09 12:22] hanamantagoudvk commented on #30
This may work only for external traffic where packets will arrive on an eth0 . But whenever pod tries to access node-port service within cluster may not work.

[2021-06-11 15:39] jayunit100 commented on #34
@knabben can we repro this in the new service tests?

[2021-06-11 15:55] jayunit100 commented on #34
[code]

unless hairpin , in which case nothing works, but lars seems to be having success w hairpin

[2021-06-11 16:17] jayunit100 opened #36 "implement ipvs SystsemCheck()"
In #13  we mentioned that we should check if NFT is correctly setup and
defined an `SystemCheck()`.

Lets do the same for IPVS.

Impl details:

if this fails:
[code]

Then we definetly are NOT up and running.  maybe check the exit code , to confirm (assume ipvsadm help returns 0 normally).

To install ipvsadm:

[code]

[2021-06-11 16:22] jayunit100 commented on #36
alpine has a weird issue with DLLs and ipvsadm-save in the contaienrs for KPNG, looking into why...
[code]

[2021-06-11 16:34] jayunit100 opened #37 "IPVS remotePort and destPort are mixed up !"
Thanks to @tibordp for helping us find this today !!!!

Running @rikatz IPVS we find that the CNI pods dont come up, bc routes to the APIServer are not working over IPVS.

the root cause was that

- we needed to install ipvs so were going to make a UX improvement there #36
- the REAL root cause was that `LocalAddress:Port`

[code]

[2021-06-11 16:57] jayunit100 opened #38 "alternate testing environment from KIND"
We want a alternate way to test , w/o using Kind , because of issues where nft/iptables/ipvs might not be installed properly, and or/ other kernel issues that are unpredictable

[2021-06-17 13:00] kundan2707 commented on #24
@jayunit100  can you confirm if we need to do for some specific single CNI or multiple CNIs?

[2021-06-18 16:40] jayunit100 commented on #30
https://github.com/K8sbykeshed/k8s-service-lb-validator/ <-- cool can we verify the hairpins work in all cases ?

[2021-06-18 16:46] jayunit100 opened #39 "upstream NodePort tests fail but ours (service-loadbalancer) tests pass... why?"
@hanamantagoudvk

noted that upstream hairpin tests fail, but in general, ours pass:

[code]

Lets see what the diff is ....  follow on to #30  (if its a red herring related to upstream e2e we can close 30, and close this as well i guess. )

[2021-06-25 16:54] jayunit100 commented on #39
nft ~ this is fixed / working now upstream hairpin  test failures  was a red herring?

[2021-06-25 16:54] #39 closed

[2021-06-25 16:56] jayunit100 commented on #32
is this issue dualstack specific, or ipv6 specific ?

[2021-06-26 05:49] uablrek commented on #32
I have only tested dual-stack.

[2021-06-30 09:39] hanamantagoudvk commented on #20
@jayunit100 @mcluseau

Following testcases related to hostnetworking are flaky. When run individually , sometimes they pass and sometimes they fail.

[sig-network] Networking Granular Checks: Services [It] should function for node-Service: http
/home/infra/go/src/k8s.io/kubernetes/vendor/github.com/onsi/ginkgo/internal/leafnodes/runner.go:113

[sig-network] Networking Granular Checks: Services [It

[2021-07-02 15:22] knabben commented on #34
/assign

[2021-07-02 15:57] mcluseau opened #41 "Tracker: conformance testing of kpng: nft backend"

[2021-07-02 15:57] mcluseau opened #42 "Tracker: conformance testing of kpng: ipvs backend"

[2021-07-02 15:57] mcluseau opened #43 "Tracker: conformance testing of kpng: iptables backend"

[2021-07-02 15:59] mcluseau commented on #41
nft conformance testing seems ok, the few failing tests seem to be outside of our realm. Testing was done by @hanamantagoudvk  who can confirm or provide details on that.

[2021-07-23 15:34] jayunit100 opened #47 "userspace proxy examples to support removal from core"
xref https://github.com/kubernetes/kubernetes/issues/103860

since were removing userspace proxying from core, lets implement an example in KPNG, so that we can
show folks how to use them.

i.e. lets implement the userspace-windows backend :)...

[2021-07-23 15:52] jayunit100 opened #49 "Diff Store improvements"
https://github.com/kubernetes-sigs/kpng/commit/0ae3c564458995be9317db48ff162d0e92ebd491 added a function to make up for calculating the appended/removed state of nodeport services.

We need to improve the diffstore to support that functionality generically.

[2021-08-01 20:17] jayunit100 opened #50 "GH Actions tests (but lets keep mob testing also)"
imo testing every friday  as a group is a good routine ---
 but we should have some bot tests just to make @aojea happy :) also

UPDATE

To get started, go into every file w a go.mod and run
[code]
in GH Actions
@FriedrichWilken

[2021-08-01 20:20] jayunit100 commented on #50
as a starting point

- backend_torture.go
- https://github.com/K8sbykeshed/k8s-service-lb-validator/
- sonobuoy `sig-network`
- sonobuoy `Conformance`

should be good enough but we can skip some tests (dualstack) and so onthat arent implemented yet

[2021-08-01 20:52] aojea commented on #50
users will be happier than me ...

[2021-08-02 21:01] mcluseau commented on #50
I've set a basic GitHub action to run the go tests, that a first thing ;)

On Sun, Aug 1, 2021, 22:17 jay vyas ***@***.***> wrote:

[2021-08-13 13:15] jayunit100 commented on #50
@rajaskakodar

[2021-08-13 15:06] jayunit100 opened #53 "Cut a 1.21 "release" and move on to 1.22 OR make 1.22 backewards compatible...."
Newer kube proxy code bases will be using the new endpoints api :

https://github.com/kubernetes/kubernetes/commit/03b7a699c248a6ad64811347b77043aabfdaa594

for example this:
[code]

instead of this:

[code]

That will mean modifying imports like this:
[code]

to this
[code]

This might i think break the ability to run kpng for 1.22 clusters with older 1.21 backend....  so to deal with this

- we

[2021-08-13 15:08] jayunit100 opened #54 "make a cool website like kind has"
lets steal this !
https://kind.sigs.k8s.io/docs/user/quick-start/

[2021-08-13 15:38] jayunit100 commented on #53
closing, as it seems like things work with 1.22

[code]

[2021-08-20 06:31] uablrek opened #57 "Kpng can not be built with static linking"
Used to work, but now fails with;

[code]
I suppose the dependency to `github.com/google/seesaw/ipvs` is the problem. Without digging too deep, can github.com/google/seesaw/ipvs be built to allow static linking for dependent programs?

[2021-08-20 06:41] uablrek commented on #57
Work-around;
[code]

[2021-08-20 15:51] jayunit100 opened #58 "make kpng importable using gomodules !: out-of-tree compilation of backends doesnt work"
@uablrek mentioned that he couldnt externalize the compilation of his backend:

[code]
Is this bc we're vendoring the  kubernetes core bits ? ...

[code]

[code]

not sure what to do about this - im thinking maybe the issue is that, we vendor the k8s "non-vendorable" bits, and thats whats burning us.

[2021-08-20 16:16] jayunit100 commented on #58
reproducing

0) `mkdir lars`
1) `cp examples/print-state/main.go lars/`
2) `cd lars ; go mod init test.com/example`
3) observe that the mod init fails, bc of our attempt to import `k8s.io/api@v0.0.0`
[code]

[2021-08-20 16:19] jayunit100 commented on #58
https://github.com/kubernetes/kubernetes/issues/79384 <-- we'll need to fix this

[2021-08-20 16:25] jayunit100 commented on #57
per lars, this workaround works - i guess we just now need a `Makefile` that encodes this vs the standard kpng compilation target...

[2021-08-20 16:27] jayunit100 opened #59 "Makefile, multistage builds?"
We'll need to make a makefile that supports:
- building
- publishing containers to a registry
- building at least some subset of binaries
- setup modd  (use modd under the hood)

per @uablrek lets keep it simple :) NO GRADLE and no https://taskfile.dev/#/

[2021-08-20 16:31] jayunit100 commented on #59
in general , targets would be
`make test` -> run all the unit tests
`make docker` -> builds a docker image of kpng
`make up` -> runs the full kpng-local-up.sh
`make static` -> compiles kpng executable binaries

as a starting point, looking at how we do hack/kpng-local-up and decomposing those parts into separate make tasks might be a good way to get started here

[2021-08-24 09:14] uablrek opened #60 "ExternalIPs always empty"
The `ExternalIPs` is always empty even when a service have externalIPs;
[code]

So, regardless of backend `kpng` can't support external access.

[2021-08-24 12:00] uablrek commented on #59
Since there will be very few dependencides (or none at all), "make" is not the tool. A script is easier to maintain. The only reason to use make is that many people expects it. A reason as good as any but large scripts-in-a-makefile looks bad (to put it nicely). I would suggest a "build" script or a "build/" directory with some scripts and a Makefile that just calls them, like;
[code]

[2021-08-25 08:01] uablrek opened #61 "Services with label service.kubernetes.io/service-proxy-name excluded"
To use a `kpng` based proxier for a special purpose while the regular kube-proxy is used for "normal" traffic you must use the `service.kubernetes.io/service-proxy-name` label, for example;
[code]
This will make the `kube-proxy` to ignore the service and a specialized proxier can subscribe for services with the desired "service-proxy-name" and handle only those.

But `kpng` is hardcoded to ignore

[2021-08-25 08:10] uablrek commented on #61
As an experiment I just changed `DoesNotExist` to `Exists`;
[code]
But I get no callbacks at all, not even for services that has the `service.kubernetes.io/service-proxy-name`. I don't know yet what is wrong.

[2021-08-25 08:11] uablrek commented on #61
I removed the constraint and then I get _all_ services, including the ones with the label. Then I filter out the ones with the correct label. But that should not be necessary.

[2021-08-27 16:01] jayunit100 opened #62 "Blog plost / Article: "next generation proxying with KPNG""
This would be a good kpng demo for a newcomer to the project to writeup/publish.

1) define configs for separate machines (vagrantfile)
2) Start one kpng frontend
2) create 2 services w/ names a,b
3) start one kpng backend to focus on `service-proxy-name=a`,  (nft / ipvs)
4) start a second kpng backend to focus on `service-proxy-name=b`, (iptables)
5) confirm that the backends work properly

[2021-08-28 07:48] uablrek commented on #60
Strange... I wonder what the difference is in my cluster.

The external IPs are fond in `svc.Status.LoadBalancer.Ingress[i]` if set by a cloud-provider or the metallb controller (or [assign-lb-ip](https://github.com/Nordix/assign-lb-ip/)).

I made a grep and found "Ingress" only in backend/iptables.
[code]

[2021-09-03 15:25] jayunit100 opened #65 "windows userspace proxy porting to kpng"
Tracking issue to get the windows userspace proxy working in KP{NG

[2021-09-03 15:53] jayunit100 opened #66 "Reach parity with upstream IPTables externalIPAddresses implementation"
Looks like in backends/iptables/service.go we dont have any logic for externalIPAddresses implemented?
[code]

[2021-09-07 14:32] VivekThrivikraman-est opened #67 "kpng backends should implement session affinity and load balancer specific rules."
This issue is for tracking kpng backends support for session affinity and load balancer specific parameters.

[2021-09-10 14:14] uablrek commented on #60
This is a bug.

https://github.com/kubernetes-sigs/kpng/blob/b26c64af90b6b54642d0d3ae93250d005b81cb20/jobs/kube2store/service-event-handler.go#L42

Only `svc.Spec.ExternalIPs` are collected, but they are actually not recommended to be used and has been subject to many discussions. Basically external addresses shall not be specified by the used in the service manifest.

The external addresses are n

[2021-09-10 16:45] jayunit100 opened #68 "ExternalLoadBalancer IPs support"
![image](https://user-images.githubusercontent.com/826111/132888638-34c6ce7a-922b-451b-bb7e-40491e9a02c6.png)
originally some confusion around #60 ...

IMO from todays meeting we should
- (most important) We also should have a datamodel
[code]
- (less important) Namespace legacy concepts like `ExternalIP` in kpng if we use them, i.e. `K8sExternalIP`
[code]
- (even less important??) need to figure

[2021-09-10 16:46] jayunit100 commented on #60
/close
and moved to #68

[2021-09-10 16:46] #60 closed

[2021-09-12 12:22] uablrek commented on #68
the `service.spec.loadBalancerIP` is not a concern for `kpng`, nor `kube-proxy`. It is a hint to cloud-providers.

[2021-09-12 12:32] uablrek commented on #68
svc.Spec.ExternalIPs and svc.Status.LoadBalancer.Ingress can not be merged into the same array. They must be handled separately if `kpng` should be compatible with `kube-proxy`. There is a proposal to disable load-balancing (setup by kube-proxy) for svc.Status.LoadBalancer.Ingress addresses in clusters where (external) load-balancing to nodePorts is used (couldn't find the issue now). But load-bal

[2021-09-15 13:51] kundan2707 commented on #24
/remove-lifecycle stale

[2021-09-17 16:15] jayunit100 opened #69 "More granular backend sync interfaces"
In general in KPNG we use a `sink.go` as the interface between KPNG and underlying backends...

However, to use this, we sometimes have to play w/ data structures on the backends to implement the coarse grained SetEndpoint function.  This works pretty well but it means we need to sometimes modify underlying functions in backends that we copy over (i.e. from k8s core)... as an example, we had to ch

[2021-09-19 05:59] uablrek commented on #58
We must _not_ require backends consume k8s.io/kubernetes as a module, see  https://github.com/kubernetes/kubernetes/issues/79384#issuecomment-505725449

It might be that kpng itself must do that, but definitely not a backend!

[2021-09-19 06:28] uablrek commented on #58
I think the problem is "k8s.io/klog". It is a K8s internal thing and MUST NOT be required by out-of-tree backends.

[2021-09-20 18:38] hanlins commented on #50
Testing is important, let me see what I can do...
/assign

[2021-09-20 19:14] jayunit100 commented on #50
thanks Hanlins we missed you !!!!!!

[2021-09-23 09:53] uablrek commented on #62
Please see; https://github.com/kubernetes/website/pull/29783

As you may know my primary interrest is to use `kpng` to write specialized proxiers, so this blog is about that :smile:

[2021-09-24 13:57] uablrek commented on #58
@jayunit100 _Please_ remove ~make kpng vendorable~ from the title. This is not about vendoring, it's about go modules. (as much as I love go I hate vendoring)

[2021-09-24 16:24] jayunit100 commented on #58
tried to remove `klog` from the `client` but, for some reason even though the client doesnt depend on k8s.io, still seeing:

[code]

reproduce with

[code]

[2021-10-01 20:01] #14 closed

[2021-10-01 21:02] #13 closed

[2021-10-16 08:19] uablrek commented on #58
It still doesn't work. Example:
[code]
/open

[2021-10-16 08:20] uablrek commented on #58
/reopen

[2021-10-16 17:41] mcluseau commented on #58
@uablrek I've gone through a cleanup step on all this, please try again :)

[2021-10-16 18:03] uablrek commented on #58
Now it works :+1:

[2021-10-22 15:45] jayunit100 opened #80 "Fixing loopbackIPSet"
This is covered in @hanamantagoudvk 's new PR #79
![image](https://user-images.githubusercontent.com/826111/138484620-65ee4bef-ec58-4945-883c-d03ae4c00d83.png)

[2021-10-22 16:04] knabben opened #81 "Compiling KPNG on Windows"
[code]
Raises the following error:

[code]

[2021-10-29 16:33] jayunit100 opened #84 "Backend standalone dev instructions"
Right now a backend engineer can test kpng w the kping-loca-up script but this requires a full cluster (in kind) and isnt super good for real time editing of go backends + testing the dataplane rules.

- we can use `kpng local --unix...` combined with `kpng file --to-api`, to make a simple, hackable dev env on a linux box that simply writes iptables rules over and over based on file changes, no k8

[2021-10-29 20:50] FriedrichWilken commented on #50
https://github.com/kubernetes-sigs/kpng/pull/85

[2021-10-29 20:57] FriedrichWilken commented on #81
I just started to work on [GitHub Actions](https://github.com/kubernetes-sigs/kpng/pull/85) to test the building of backend packages. Should I add some more for building from /cmd/ on linux, win and macos?

[2021-11-01 01:29] jayunit100 opened #86 "legacy kube-proxy: port over fix for affinity endpoints with incoming fix for iptables proxy"
https://github.com/kubernetes/kubernetes/pull/106030/files

also need to do this in the service-lb tests filed here https://github.com/K8sbykeshed/k8s-service-lb-validator/issues/35

[2021-11-01 10:50] mcluseau commented on #41
/remove-lifecycle rotten

[2021-11-01 10:50] mcluseau commented on #43
/remove-lifecycle rotten

[2021-11-01 10:50] mcluseau commented on #42
/remove-lifecycle rotten

[2021-11-01 10:51] mcluseau commented on #34
that's probably needs a better status assertion than rotten ;)

/remove-lifecycle rotten

[2021-11-01 17:16] #33 closed

[2021-11-01 18:16] #35 closed

[2021-11-05 15:51] jayunit100 opened #88 "split up services.proto"
services.proto has the local and global data models in it
if we split it into two itll be easeier to understand

[2021-11-05 18:22] jayunit100 opened #91 "Fix iptables compilation in kpng-local-up"
mostly working but looks like hitting some 1.23 import errors ...
[code]

[2021-11-06 06:42] jayunit100 commented on #91
fixed in the above MR,

[2021-11-06 08:39] jayunit100 opened #92 "AntreaProxy as a backend"
With https://github.com/antrea-io/antrea/releases/tag/v1.4.0 now available, antrea can entirely replace the kube proxy.

So, i think we can now implement a KPNG backend in the antrea project as another example.  This would be a cool project to collaborate with the antrea community on .

[2021-11-06 18:48] #91 closed

[2021-11-07 10:36] jayunit100 opened #93 "model service affinity"
looks like we need to model service Affinity explicitly.
right now its not an attribute in the kpng services.

but generically, we do have docs on this:

[code]

thanks to @danwinship recent pr...

[2021-11-07 12:31] jayunit100 commented on #93
nvm vivek already filed #64

[2021-11-07 12:31] #93 closed

[2021-11-07 14:35] jayunit100 opened #96 "decompose hack/kpng-local-up.sh into separate scripts"
- `build.sh` (compile all of the kpng backends OR one of them as arg)
- `test-unit.sh`
- `test-conformance.sh` (run sonobuoy on a local kind cluster ... takes `backend` as optional arg) calls `hack/local-up-kpng.sh` under the hood and then runs sonobuoy.

[2021-11-07 14:38] jayunit100 commented on #96
for v0 of friedichs CI , just
- make a hack/`build.sh`  script
- ghave your gh actions call `hack/build.sh iptables` and then `hack/build.sh nft` and so on...

[2021-11-08 17:35] #36 closed

[2021-11-10 08:48] FriedrichWilken commented on #96
- [x]      `build.sh` (compile all of the kpng backends OR one of them as arg)

- [x]      `test-unit.sh`

- [ ]      `test-conformance.sh` (run sonobuoy on a local kind cluster ... takes `backend` as optional arg) calls `hack/local-up-kpng.sh` under the hood and then runs sonobuoy.

[2021-11-10 13:56] jayunit100 opened #102 "abstract cni_config for kpng local up to test antrea/calico/kindnet"
Were moving to kindnet for our CNI default

after merging it, we can add abstraction in for extending the jobs to have other CNIs if we want.

- antrea
- calico
- ...?

[2021-11-10 13:59] jayunit100 commented on #50
this is done now thanks to friedrich and neha !

[2021-11-10 13:59] #50 closed

[2021-11-10 14:02] jayunit100 opened #103 "Run several sets of k8s e2e tests in separate GH actions"
First lets get e2e tests running somehow.

THEN  lets go into more granularity and parallelize different subsets of them...

- look at #20
- run `--e2e-focus=StatefulSet` <-- best smoke test in the world even though its not a k8s service test
- run `--e2e-focus=NetPol`
- run `--e2e-focus=Conformance`
- run `--e2e-focus=sig-network --e2e-skip=Disruptive|Slow`

[2021-11-10 14:07] jayunit100 opened #104 "code hygiene: deep godoc to existing backends, README.md/s"
The existing backends have variable godoc/README implementations.  Lets make sure each is easy to understand.  This is a good beggininer issue b/c it will require reading the whole backend codebases and understanding them.

Warning may be a several week or several month task, lots of experimentation, comparisons w/ k/k and asking questions will be required.

[2021-11-10 14:08] jayunit100 commented on #103
/assign @nehaLohia27

[2021-11-10 14:09] jayunit100 commented on #103
note you can use e2e.test --dry-run to examine output :

[code]

to grab that file, get https://github.com/jayunit100/k8sprototypes/blob/master/e2e/e2e.sh

[2021-11-10 14:11] jayunit100 commented on #103
another example:

[code]

[2021-11-11 20:43] jayunit100 opened #108 "[minor] migrate ipvs-as-sink to have similar conventsions to iptables"
iptables has a sink.go file for the interface implementation

lets have the ipvs as sink do the same thing

this will be a fun golang start MR for our dear friend @FriedrichWilken !

[2021-11-11 20:43] jayunit100 commented on #108
/assign @FriedrichWilken

[2021-11-11 20:46] jayunit100 opened #109 "Large scale sonobuoy test coverage improvements : print out the e2e.log file, tests backends separately"
Now that @nehaLohia27 has added sonobuoy stuff with friedrich, we can follow on :

- kubectl get pods -n sonobuoy
- kubectl logs e2e... -n sonobuoy # <-- print out the full test log

this will help in case of tests failures.

After that lets triple our GH actions running sonobuoy separately for each backend./

- `e2e-focus=sig-network` and `e2e-skip=Disruptive|Slow` and then , we can see what test

[2021-11-12 06:23] nehaLohia27 commented on #109
@jayunit100 Sure I will add these test cases

[2021-11-12 16:45] jayunit100 opened #110 "test_torture.sh wrapper for CI"
we probably should automate test_torture.sh but we might not be able to run it in GH actions w/ meaningful results

[2021-11-12 16:49] jayunit100 opened #111 "Build first PROW job w @antonio!"
@aojea has offered to pair on building the first prow job with us.

@nehaLohia27 can you join forces on that front?

- 1 backend: `iptables` ?
- initial test: maybe something

```e2e.test --provider=local --kubeconfig=/home/ubuntu/.kube/config --dump-logs-on-failure=false --ginkgo.focus="sig-network|services" --ginkgo.skip="rolling|Slow|6" --ginkgo.dryRun=true```

[2021-11-12 17:01] jayunit100 commented on #53
gonna reopen this until we actually finish :)

[2021-11-14 15:51] jayunit100 opened #113 "documentation on our vendoring strategy"
There are docs, about the general vendoring problem in KPNG
- https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/vendor.md

We also have some really crude, hacky explanations of how we vendor:

- https://github.com/kubernetes-sigs/kpng/blob/master/go-mod-tidy-all

@FriedrichWilken might be a good golang project

[2021-11-14 15:55] jayunit100 commented on #113
/good-first-issue

[2021-11-15 09:24] nehaLohia27 commented on #111
sure @jayunit100 Once conformance tests work is done, I will start looking at this also..

[2021-11-15 09:25] nehaLohia27 commented on #109
@jayunit100 Can you please assign this issue to me

[2021-11-15 18:01] mcluseau commented on #109
/assign @nehaLohia27

[2021-11-15 21:36] FriedrichWilken commented on #110
@jayunit100 what is that `test_torture.sh` you are mentioning? If this is something you want to be added, can you give some details?

[2021-11-16 09:05] FriedrichWilken commented on #102
working on it https://github.com/kubernetes-sigs/kpng/pull/114#issuecomment-969547182

[2021-11-19 13:11] nehaLohia27 commented on #109
I have tried to run few sonobuoy tests using flags like e2e-focus=sig-network and e2e-skip=Disruptive.. The tests did not complete successfully and failed with below erorr

18:11:51  systemd-logs  kpng-proxy-control-plane  complete
18:11:51  systemd-logs     kpng-proxy-worker  complete
18:11:51  systemd-logs     kpng-proxy-worker2  complete
18:11:51       e2e           global  running
18:11:51
18:

[2021-11-19 15:12] aojea commented on #111
No need for prow for now, github actions work fine at this point and there still e2e tests that need to be fixed.

It seems that DNS and udp services are not working fine?

Anyway, you have a PR here as basis https://github.com/kubernetes-sigs/kpng/pull/118

and results here https://github.com/aojea/kpng/actions/runs/1481423799

[2021-11-19 15:45] nehaLohia27 commented on #111
@aojea @jayunit100 I am also testing the github actions to include sonobuoy tests for e2e plugin with flags like e2e-focus=sig-network and e2e-skip = Disruptive. There are still more flags to be tested. I assume the same tests will be called here right ? There are failures which need to be analysed and fixed..

[2021-11-19 16:56] enthr commented on #113
Hi, I would like to work on this issue.

[2021-11-19 17:03] jayunit100 commented on #111
#118 <-- initial MR that will bring us closer to idiomatic PROW style jobs

[2021-11-22 06:35] AvineshTripathi commented on #113
Hey you can do a self assign by typing `/assign` for now I m assigning /assign @enthr

[2021-11-22 07:59] jayunit100 opened #120 "Explore prometheus metrics for KPNG backends"
For each backend, let's put together at least a few initial metrics, similar to the ones in upstream.

https://prometheus.io/docs/concepts/metric_types/

- SyncProxyRulesLatency (backend)
- EndpointChangesTotal (backend)
- EndpointChangesPending (backend)
- NetworkProgrammingLatency (backend)

We could also experiment w/ what node-exporter already gives us?
- iptables
- ipvs (https://github.com/ku

[2021-11-22 08:20] jayunit100 commented on #59
I think we can close this

[2021-11-22 08:20] #59 closed

[2021-11-22 12:34] enthr commented on #113
/assign

[2021-11-22 17:27] jayunit100 commented on #65
@knabben is this ready to go?

[2021-11-23 03:52] nehaLohia27 commented on #109
As per the discussion we will use e2e test plugin in the CI builds and not sonobuoy plugin.
@jayunit100 @mcluseau Can we close this issue ?

[2021-11-23 14:24] jayunit100 commented on #120
fwiw this is very low priority bc, currently, we want to focus on getting backends into perfect shape and really nail the collaboration with antonio #111 :)

[2021-11-26 06:50] nehaLohia27 opened #122 "[e2e] Results of e2e tests in github actions for iptables and ipv4 family."
There are some test cases failing in kpng for iptables backend and ipv4 .

Please check the below link for references
https://github.com/kubernetes-sigs/kpng/runs/4362502899?check_suite_focus=true

[2021-11-26 11:03] knabben opened #123 "Run backend unit tests on CI"
Currently only core unit tests are working. Separate another job and ensure backend tests are running as well.

Cc @nehaLohia27

[2021-11-26 11:09] knabben commented on #34
SNAT was broke on OLD ipvs backend there wasn't ant chain rule marking 0x400 for the api service.. probably worth to bring a ci job for the new be

[2021-11-26 12:31] friedrichwilken opened #124 "The /hack/README.md needs to be redone."
In the recent weeks, a lot was added to `/hack`. This is hardly documented at all, so the [README](https://github.com/kubernetes-sigs/kpng/blob/master/hack/README.md) is pretty outdated, and deserves some proper rework.

1. As @knabben already [mentioned](https://github.com/kubernetes-sigs/kpng/pull/121#discussion_r757173491), add a `tree` output of the dir and give little explanation of what to f

[2021-11-26 17:26] #32 closed

[2021-11-30 04:32] nehaLohia27 opened #127 "[e2e] Results of e2e tests in github actions for nft backend and ipv4 family."
There are some test cases failing in the e2e tests results execution

Please check the below link for reference.
https://github.com/kubernetes-sigs/kpng/runs/4362502917?check_suite_focus=true

[2021-11-30 04:33] nehaLohia27 opened #128 "[e2e] Results of e2e tests in github actions for ipvs backend and ipv4 family."
There are some test cases failing for ipvs backend

Please check the below link for reference
https://github.com/kubernetes-sigs/kpng/runs/4362502939?check_suite_focus=true

[2021-11-30 04:35] nehaLohia27 opened #129 "[e2e] Results of e2e tests in github actions for iptables backend and ipv6 family."
There are some test cases failing for iptables with ipv6 family.

Please check the below link for references.
https://github.com/kubernetes-sigs/kpng/runs/4362502966?check_suite_focus=true

[2021-11-30 04:36] nehaLohia27 opened #130 "[e2e] Results of e2e tests in github actions for nft backend and ipv6 family."
There are some test cases failing for nft and ipv6 families.

Please check the below link for references
https://github.com/kubernetes-sigs/kpng/runs/4362502999?check_suite_focus=true

[2021-11-30 04:38] nehaLohia27 opened #131 "[e2e] Results of e2e tests in github actions for ipvs backend and ipv6 family."
Some test cases failing for ipvs backend and ipv6 family.

Please check the below link for reference
https://github.com/kubernetes-sigs/kpng/runs/4362503030?check_suite_focus=true

[2021-11-30 04:39] nehaLohia27 opened #132 "[e2e] Results of e2e tests in github actions for iptables backend and dual stack clusters"
There are some test cases failing for iptables backend with dual stack

Please check the below link for reference
https://github.com/kubernetes-sigs/kpng/runs/4362503048?check_suite_focus=true

[2021-11-30 04:40] nehaLohia27 opened #133 "[e2e] Results of e2e tests in github actions for nft backend and dual stack"
Some test cases failing for nft backend with dual stack

Please check the below link for reference
https://github.com/kubernetes-sigs/kpng/runs/4362503066?check_suite_focus=true

[2021-11-30 04:41] nehaLohia27 opened #134 "[e2e] Results of e2e tests in github actions for ipvs backend and dual stack"
Some test cases failing for ipvs backend and dual stack

Please check the below link for reference
https://github.com/kubernetes-sigs/kpng/runs/4362503110?check_suite_focus=true

[2021-12-01 14:13] jayunit100 opened #136 "NodePort service Conformance test failing"
https://github.com/kubernetes-sigs/kpng/issues/132

Looks like this is the most obvious interesting test failure we currnetly have, reported in one of @nehaLohia27 's test jobs

[code]

Good opportunity to learn some kube proxy internals for @anusha94

[2021-12-01 14:15] jayunit100 commented on #136
/good-first-issue

[2021-12-01 14:18] anusha94 commented on #136
/assign

[2021-12-03 05:33] enthr commented on #113
/unassign

[2021-12-05 11:01] nehaLohia27 opened #140 "[sig-network] [Services] should create endpoints for unready pods"
Debugging this test failure along in kpng cluster with iptables

[2021-12-05 11:01] nehaLohia27 commented on #140
/assign

[2021-12-05 11:02] nehaLohia27 commented on #140
./ginkgo --focus="should create endpoints for unready pods" /Users/nlohia/Documents/neha/kubernetes/_output/bin/e2e.test -- --kubeconfig="/Users/nlohia/Documents/neha/friedrich/kpng/hack/temp/e2e/bin/kubeconfig.conf" --provider=local --dump-logs-on-failure=false --report-dir=reports --disable-log-dump=true
I1205 14:35:15.224826    2584 e2e.go:130] Starting e2e run "0ca2b366-0a92-45f2-a594-666426ad

[2021-12-05 11:05] nehaLohia27 commented on #140
![image](https://user-images.githubusercontent.com/4365624/144743899-b3854f90-65cb-4a47-84e0-c8505fe7b418.png)

[2021-12-05 13:48] jayunit100 commented on #140
# step 1 run ginkgo
[code]

# Step 2 .. logs
[code]

# Results

[code]

stderr:
[code]

[2021-12-05 14:02] jayunit100 opened #141 "(follow on to ReadyStates) Add ReadyStates logic to KPNG iptables backend"
In #140 it becomes clear that we're missing some important logs to do the detective work necessary to reproduce inconsistencies when a backend doesnt do the same thing as the K8s proxy does.

# First lets add logs so its easy to trace the decisions for readiness

Lets add logs w/ timestamps so we can see:
- when a backends SetEndpoint/SetService/... is called
- when the decoder decides wether or n

[2021-12-05 14:20] jayunit100 opened #142 "Add ReadyStates to the KPNG services.pb.go"
As of now, we have no way to decide if an endpoint is Ready, but this makes it so that #140  is a bug.

Lets update KPNGs data model to support this inspection:
[code]

And then we can update the KPNG backend (i.e. iptables) to consume this: #140

[2021-12-05 14:21] jayunit100 commented on #140
If we do

- #141
- #142

AND we make sure that we support the
[code]

This test will start passing !

Great work @nehaLohia27 helping to find this corner case !!!

[2021-12-05 14:24] jayunit100 opened #143 "Document updating protobuf datamodel + add it to CI and kpng local up"
We dont have instructions on how to update the protobuf generator.

- updated-protobuf.sh script: updates the protobuf generated golang programs...
- verify-protobuf.sh script: runs update, checks that theres NO CHANGE to the structs...
- REAMDE.md on using them...

As @nehaLohia27 and @anusha94 dig into #140 and #141, lets add a README.md
in the part of our code that translates the protobuf from

[2021-12-05 14:24] jayunit100 commented on #143
/assign @nehaLohia27
/assign @anusha94

[2021-12-05 14:28] jayunit100 commented on #143
/assign @anusha95

[2021-12-05 15:27] anusha94 commented on #143
/assign

[2021-12-07 12:32] nehaLohia27 commented on #143
Command used

protoc --go_out=. --go-grpc_out=. --go_opt=paths=source_relative --go-grpc_opt=paths=source_relative services.proto

This generates the 2 files
services.pb.go
services_grpc.pb.go

[2021-12-10 15:54] jayunit100 opened #145 "optional test machinery"
Currently
- we have tests for backends for conformance e2es
- we know there are several filed , valid bugs that wont pass soon
- but we WANT informing jobs that run FULL tests of the backend

We want a simple way that someone can  trigger a quick FULL test run of a backend
- use a `/test iptables` style comment to add a new GH action result *or*
- `git commit -m "friedrich_please_test_iptables"` m

[2021-12-10 15:57] jayunit100 commented on #145
for now we can use this https://github.com/kubernetes-sigs/kpng/actions/runs/1563341286

[2021-12-10 16:02] jayunit100 opened #146 "Hack/ script needs to get the right kubeconfig"
Looks like the docker ip is returned by: (update `--internal` is the solution)
[code]

KPNG cant access this bc obviously its not an internal IP.

Whats the idiomatic way to program an extenral APIServer endpoint into a kind CI script ?

[2021-12-10 16:04] knabben commented on #146
Kpng core logs:

[code]

[2021-12-10 16:05] jayunit100 commented on #146
https://github.com/kubernetes-sigs/kpng/blob/master/hack/kubeconfig.conf <-- what we used to use

/assign @nehaLohia27
/assign @FriedrichWilken

[2021-12-10 16:25] jayunit100 commented on #142
[code]
// EndpointConditions represents the current condition of an endpoint.
type EndpointConditions struct {
	Ready *bool
        Serving *bool
	Terminating *bool
[code]

[2021-12-10 18:03] knabben opened #149 "protobuf error related to sessionAffinity in CI runs"
Daemonset pods started to crashloopback and error, with the following logs:

[code]
[code]

[2021-12-10 18:14] FriedrichWilken commented on #146
https://github.com/kubernetes-sigs/kpng/pull/148 is addressing this issue.
(can you please allow me to link PRs to issue?)

[2021-12-10 18:16] knabben commented on #149
would be good to know what test caused this...

/assign @nehaLohia27 @FriedrichWilken

[2021-12-10 19:04] knabben commented on #149
cc @mcluseau
[code]

[2021-12-12 12:02] jayunit100 commented on #120
/good-first-issue

[2021-12-12 12:12] jayunit100 opened #150 "backend_torture docs, improvements, metrics integration"
The backend torture program is a good way to learn about kpng but its not documented, lets commnet it, add unit tests that can  run it in a less aggressive way, and along the way , chart some metrics for it.

This could be a cool demo to run for the KPNG group or at sig-network, esp as we get closer to trying to get kpng adopted more broadly

Xref #120

[2021-12-12 12:12] jayunit100 commented on #150
/assign @FriedrichWilken

[2021-12-12 13:27] jayunit100 opened #151 "coredns pods not scaling > 2 ?"
We can use the hack/test scripts to make clusters to test on:

[code]

However, if i scale up the coredns replicas on these, it seems like they fail health checks:

[code]

Looks like this is b/c we hardcode the kuberentes apiserver kubeconfig, to only be `kubernetes-control-plane` or whatever

[code]

Thus, the only `kpng` processes that are working, are the ones that are running on the docker no

[2021-12-12 13:33] jayunit100 commented on #151
@FriedrichWilken !!!!!!!!!!!

[code]

[2021-12-12 14:37] jayunit100 commented on #151
So now, were seeing that the coredns pod seems to be infinitely waiting for the `kubernetes` service to come up:

[code]

Now, trying to figure out wether waiting on kubernetes means:
- cant route to the apiserver?
- cant get certain endpoints from the apiserver?

So filed https://github.com/coredns/coredns/issues/5035 to ask the coredns folks out of curiosity, how to determine what "specific" par

[2021-12-13 19:24] knabben commented on #149
service breaking

[code]

[2021-12-15 14:26] jayunit100 opened #153 "IPTables is crashing on restore..."
Looks like when we restore iptables rules:

[code]

We're crashing, `multiple -j flags not allowed`, so we're generating extra jumps.

[code]

[2021-12-15 14:27] jayunit100 commented on #153
cc @VivekThrivikraman-est  :) @knabben

[2021-12-15 14:30] #151 closed

[2021-12-15 14:31] jayunit100 commented on #149
@hanamantagoudvk :) another one

[2021-12-15 16:17] VivekThrivikraman-est commented on #153
Seems to be broken because of a wrong concatenation of iptable rules in commit https://github.com/kubernetes-sigs/kpng/pull/135, line https://github.com/kubernetes-sigs/kpng/blob/f58a126d8a5074fc987e4a73a28239df3b6fe600/backends/iptables/iptables.go#L790 .

The latest PR will fix anyways fix this also: https://github.com/kubernetes-sigs/kpng/pull/152 .

[2021-12-16 04:14] nehaLohia27 commented on #146
@jayunit100 Can you also allow me to link PRs to issues ?

[2021-12-17 15:39] jayunit100 opened #154 "NFT: Refactor to use sink.go?"
Looks like NFT is still using Callbacks.
I think @mcluseau was thinking about refactoring it ?

He's back now !!!!!!!!!!!

[2021-12-17 15:52] jayunit100 opened #155 "ipset for iptables proxy to reduce rule counts"
talking w/ @VivekThrivikraman-est and @mcluseau

- ipsets are faster
- ipsets can be built up in a way thats easier to read:

i.e.

- Make a service as normal...
[code]

- Append pod endpoints...
[code]

[2021-12-17 15:58] jayunit100 commented on #142
right now, were frozen on this, ci team is fixing stuff

[2021-12-17 15:59] jayunit100 commented on #153
all fixed now !

[2021-12-17 15:59] #153 closed

[2021-12-17 16:01] jayunit100 commented on #149
amim can you rename this to something like `protobuf error related to sessionAffinity in CI runs`

[2021-12-17 16:12] jayunit100 commented on #149
Protobuf version related?

So far, no evidence bc were using the same as upstream k8s...
[code]

other ideas?

[2021-12-17 16:19] jayunit100 opened #156 "Build a unit test that serializes a sessionAffinity Service"
Lets make pkg/proxystore/proxystore_test.go

Right now, this function fails:
[code]

The reason if fails is because:

[code]

Lets make a unit test that just serializes a service of this type:
https://zhwt.github.io/yaml-to-go/ ->
[code]

Send that in to the func above, and reproduce the serialization error... Then we can get protobuf gods to help us ....

[2021-12-17 16:20] jayunit100 commented on #149
/assign @FriedrichWilken

[2021-12-17 16:21] jayunit100 commented on #65
/assign

[2021-12-17 16:30] jayunit100 commented on #141
/assign @nehaLohia27
! :)

[2021-12-17 16:49] jayunit100 commented on #143
Something like...
[code]
And
[code]

should do it ...

[2021-12-17 17:17] jayunit100 opened #157 "ConntrackModule"
# Adding a conntracksubsystemmanagementSINK

gastank!

Right now we dont manage cleanup of conntrack...

We can manage it in a way thats orthogonal to any of the backends, by making a conntrack module based on https://github.com/kubernetes/kubernetes/blob/master/pkg/util/conntrack/conntrack.go.

![image](https://user-images.githubusercontent.com/826111/146582628-2715baca-ab7b-4c8f-82d0-1b6fe58f13c

[2021-12-17 17:17] jayunit100 commented on #157
/assign @hanamantagoudvk

[2021-12-17 17:31] jayunit100 commented on #156
/assign @FriedrichWilken

[2021-12-17 17:43] jayunit100 commented on #150
yes you can ginkgo it

[2021-12-17 17:50] FriedrichWilken commented on #156
I will look into this

[2021-12-20 17:04] #47 closed

[2021-12-20 17:34] qabpea commented on #157
As in included by the backends that use the conntracker?

[2021-12-20 18:29] mcluseau commented on #157
Yes :)

On Mon, Dec 20, 2021, 18:34 Per Andersson ***@***.***> wrote:

[2021-12-22 11:32] uablrek commented on #62
Blog published https://kubernetes.io/blog/2021/10/18/use-kpng-to-write-specialized-kube-proxiers/

/close

[2021-12-22 11:33] #62 closed

[2021-12-22 13:58] anusha94 opened #162 "[e2e debug] Preserve source pod IP for traffic thru service cluster IP"
This is one of the failures reported by #132

[code]

[2021-12-22 13:58] anusha94 commented on #162
/assign

[2021-12-22 17:05] AvineshTripathi commented on #113
I ll give this a try and get try to get this done /assign

[2021-12-22 17:05] AvineshTripathi commented on #113
/assign

[2021-12-23 04:40] nehaLohia27 commented on #136
@anusha94 This tests is also passing in github CI now.
Refer this yesterday build.
https://github.com/kubernetes-sigs/kpng/runs/4607873476?check_suite_focus=true

[2021-12-23 05:14] anusha94 commented on #136
Thanks @nehaLohia27 !
We can monitor it for few more days and see if it fails again (to verify if its flaky or not). We can look at increasing timeout etc if required.

[2021-12-23 12:59] anusha94 commented on #162
/assign @nehaLohia27

[2021-12-23 16:44] jayunit100 commented on #162
looking w/ @anusha94 and @nehaLohia27 , looks like, in regular kuber proxy

[code]

These are the rules that are written, so maybe we are thinking we ACCIDENTALLY SNAT in the Kpng iptables-proxy??

[2021-12-23 16:46] jayunit100 commented on #162
https://storage.googleapis.com/jayunit100/e2e-anusha.test <-- hacked up test e2e that freezes after creation of theiptables rules.

[2021-12-23 17:29] anusha94 commented on #162
In iptables mode, when accessing a service via cluster ip, the source ip should not be snat-ed

https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-clusterip

[2021-12-24 15:41] dougsland commented on #156
/assign

[2021-12-24 15:51] jayunit100 opened #164 "IPVS refcounts as an alternative in-memory caching"
In `iptables` and in `ipvs` in-tree, we do this:

[code]

The endpoint change trackers are tricky to manage, and solve alot of problems, but @hanamantagoudvk has an optimal way to reference count ipsets for IPVS which will obviate any need for us to copy/paste that caching logic.

We're thinking this will make the KPNG IPVS implementation much leaner then the IPVS implementation that is in-tree fo

[2021-12-24 16:03] jayunit100 commented on #156
/good-first-issue

[2021-12-30 18:36] dougsland commented on #156
Unit test merged.
/close

[2021-12-31 23:18] dougsland opened #174 "[e2eshould be able to preserve UDP traffic when server pod cycles for a ClusterIP service"

[2022-01-01 23:43] dougsland commented on #174
If I understood correctly here the steps for the testing but still cannot reproduce:

`ClusterIP service/deployment:`
[code]

`Creating the UDP service on port 80`
[code]

`Listing the service`
[code]

`Listing the Deployment`
[code]
`Listining the Endpoint`
[code]

`Creating, connecting into a UDP client and sending data to the UDP server clusterip address`
[code]

`[AT THE SAME time] Connecting

[2022-01-03 18:15] jayunit100 commented on #174
if you recreate the pod a zillion times on a multi node cluster does it eventually fail?

wonder if it depends on what node the pod is landing on , iirc the udp tests can be weird that way

[2022-01-04 16:14] jayunit100 opened #178 "add hanamant, vivek, lars to root owners"
since hanamant vivek and lars have all been involved for a long time and worked on some important core features and are domain experts for us, lets add them to root owners file

[2022-01-05 04:10] dougsland opened #181 "README.md: add info about the APAC meeting"
There is no info about the meeting in the README.md.
https://github.com/kubernetes-sigs/kpng/blob/master/README.md?plain=1#L15

See-Also: https://groups.google.com/g/kubernetes-sig-network/c/emqj37MWaWI

[2022-01-05 04:41] dougsland opened #182 "Dockerfile.static"
What's the goal with this file? Multi-arch? Single binary ? Both?  Deprecated?

Currently not working, need some work:
[code]

[2022-01-05 12:34] #149 closed

[2022-01-07 01:04] jayunit100 commented on #182
ahhh thanks for filing this.
i dont remember anymore either...

[2022-01-07 06:23] dougsland commented on #174
Following E2E, should be something like these steps listed below but still not able:

[code]

Files:
`/tmp/udpserver-service-svc-udp-01-07-2022_01-16-12.yaml`
[code]

`/tmp/udpclient-01-07-2022_01-16-12.yaml`
---
apiVersion: v1
kind: Pod
metadata:
  annotations:
  labels:
    run: udpclient
  name: udpclient
  namespace: default
spec:
  containers:
    - name: udpclient
      command: ["/bin/bash"

[2022-01-07 06:30] dougsland commented on #174
Thanks Jay, I will try in a different environment for double check. :)

[2022-01-07 15:44] jayunit100 commented on #162
sounds like yall are on track here to fix the `!` in kpng right?

[2022-01-07 16:17] jayunit100 commented on #174
i just ran dougs repro and also, i see traffic rescued as well on kpng in iptables mode

[2022-01-07 19:45] dougsland commented on #181
/close

[2022-01-07 19:45] #181 closed

[2022-01-08 00:01] dougsland commented on #174
Just for the record, here the output from ginkgo:

[code]

[2022-01-08 00:55] anusha94 opened #187 "[e2e debug] should serve multiport endpoints from pods"
What the test does -
Create a service with two ports but no Pods are added to the service yet.  The service MUST run and show empty set of endpoints. Add a Pod to the first port, service MUST list one endpoint for the Pod on that port. Add another Pod to the second port, service MUST list both the endpoints. Delete the first Pod and the service MUST list only the endpoint to the second Pod. Delete

[2022-01-08 00:56] anusha94 commented on #187
I'd like to debug this to learn more about services and endpoints!

/assign

[2022-01-08 00:56] anusha94 commented on #187
Sample failure - https://github.com/kubernetes-sigs/kpng/runs/4745155707?check_suite_focus=true

[2022-01-08 02:50] dougsland commented on #174
Reproduced the report, the trick is add in the `nc` from `UDPCLIENT POD` the `SourcePort`
==========================================================

# STEP 1: Generate UDP service:
```kubectl create -f "/tmp/udpserver-service-svc-udp-01-07-2022_19-48-58.yaml"```

`cat /tmp/udpserver-service-svc-udp-01-07-2022_19-48-58.yaml`
[code]

# STEP 2: Generate UDP client:
```kubectl create -f "/tmp/udpclie

[2022-01-08 03:25] #162 closed

[2022-01-08 04:25] dougsland commented on #174
Few notes:

- Tested against `kube-proxy` after `pod-server1` is down... In 10sec approx `pod-server2` start responding.
- `kpng` **IN IPTABLES** mode** works like `kube-proxy`
- `kpng` **IN IPVS mode** takes approx. **10min** to `pod-server2` start responding, the E2E test timeout is less than.
- Mental note: At this moment, `kube-proxy` or `kpng` doesn't execute round robin algorithm if there ar

[2022-01-08 14:42] qabpea commented on #174
This is a direct result of #157 https://github.com/kubernetes-sigs/kpng/issues/157. The connection/flow is not removed from the conntracker until the traffic stops

[2022-01-08 14:43] qabpea commented on #157
Issue #174 is caused by this defect

[2022-01-08 23:06] knabben commented on #174
Can confirm the stale connections are not being cleaned on iptables backend:

https://github.com/kubernetes-sigs/kpng/blob/5c135f5b1f3b0c09dbd5851bb30d50be04d0be18/backends/iptables/iptables.go#L327

[2022-01-09 13:26] hanamantagoudvk commented on #157
i will start working on this..

[2022-01-09 14:17] qabpea commented on #174
We have a test in the e2e test that triggers the problem. What we need is not another test, but rather a setup that can be used to confirm, identify and later verify that the problem is solved. For this issue and a few others, what we need is to look inside the conntrack tables and study what is installed.

The use case tested here is clearly described at https://github.com/kubernetes/kubernetes/b

[2022-01-09 14:33] dougsland commented on #174
Just for the record, seems other people reached this upstream: https://github.com/kubernetes/kubernetes/issues/106274

[2022-01-09 17:06] jayunit100 opened #191 "initial testing of userspace MR, build to work on os x"
first issue for pallavi, good way to get integrated into the project
[code]

this will allow you to take on @rajaskakodar s original userspace MR and polish it off :) !

[2022-01-09 17:33] jayunit100 commented on #191
[code]

[2022-01-09 22:09] qabpea commented on #187
This test is found at https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L823-L923
The endpoint is a simple abstraction of an object with an ip address and a port. In this test you will get two endpoints, one for each port..

I will look more into this and some other faults to come back with a better pinpointing of the problem

[2022-01-09 23:47] anusha94 commented on #187
Did some debugging -

When the pod comes up, the corresponding entry for the service to route to the destination pod is missing in the iptables. pod logs have `iptables-restore failed` error - `Port '0' not valid`

It is caused by this line - https://github.com/kubernetes-sigs/kpng/blob/5c135f5b1f3b0c09dbd5851bb30d50be04d0be18/backends/iptables/iptables.go#L780

The `strconv.Itoa(svcInfo.TargetPor

[2022-01-09 23:54] qabpea commented on #187
I believe you are right, I have never used a name and container ports for target port my self, but you learn as long as you live

[2022-01-10 00:07] anusha94 commented on #187
Do you mind if I gave this a try? I can do it later in the day today.

[2022-01-10 00:44] qabpea commented on #187
Do it, what do you have to loose :-)

[2022-01-10 01:34] dougsland commented on #174
1. Monitor in the **kind nodes** for the source connection:
`shell 1`
[code]

2-  Scale down pod-server-1 and noticed that `pod-server-2` is not responding any UDP request.
[code]

Logs not showing anything in pod-server-2:
[code]

2. Delete the conntrack entry in the **same kind node**:
`shell-2`
[code]

That at this moment the logs of `pod-server-2` **start responding/showing**
[code]

[2022-01-10 16:37] #54 closed

[2022-01-11 00:13] jayunit100 opened #194 "comments for externalIP implementation"
to expedite the review, were merging https://github.com/kubernetes-sigs/kpng/pull/190/files.

as a good first issue if someone wants to add good comments to the introduced functions here and/or write up a README about how the external IP feature is working in KPNG, please go for it!

/good-first-issue

[2022-01-11 11:26] nehaLohia27 commented on #129
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:26] #129 closed

[2022-01-11 11:26] nehaLohia27 commented on #128
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:27] nehaLohia27 commented on #132
As we have less no of issues in each of the backends due to lot of features merged,, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:27] nehaLohia27 commented on #133
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:27] #133 closed

[2022-01-11 11:27] #128 closed

[2022-01-11 11:27] nehaLohia27 commented on #127
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:27] #127 closed

[2022-01-11 11:27] nehaLohia27 commented on #131
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:27] #131 closed

[2022-01-11 11:27] #132 closed

[2022-01-11 11:28] nehaLohia27 commented on #122
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:28] #122 closed

[2022-01-11 11:28] nehaLohia27 commented on #134
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:28] #134 closed

[2022-01-11 11:28] nehaLohia27 commented on #130
As we have less no of issues in each of the backends due to lot of issues fixed, closing this issue. We can open new issues for each failures now.

[2022-01-11 11:28] #130 closed

[2022-01-11 11:29] nehaLohia27 commented on #146
Issue is fixed. closing it.

[2022-01-11 16:52] qabpea commented on #174
There is one little peculiarity when the endpoint goes from zero to one in conjunction with multi port service that we did not discuss.
Any given endpoint can provide one or more of the ports, there is no guarantee that all ports defined by the service is provided by a POD/endpoint.
The "black hole" connection entries will have the service address, proto (most likely UDP) and port as "destination"

[2022-01-11 20:44] qabpea opened #196 "{IPv4-iptables] [e2e] Fail: Service session affinity"
The e2e test fail for some of the affinity tests.
The tests are found at https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1795-L1888.

Two of the tests with ClusterIP affinity fails right now
[Fail] [sig-network] Services [It] should have session affinity work for service with type clusterIP [LinuxOnly] [Conformance]
https://github.com/kubernetes/kubernetes/blob/ma

[2022-01-11 20:57] qabpea opened #197 "[e2e] Fail: It should be possible to connect to a service via ExternalIP when the external IP is not assigned to a node"
[Fail] [sig-network] Services [It] should be possible to connect to a service via ExternalIP when the external IP is not assigned to a node
The test is found here
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1193-L1226
The ip addresses used in the test are OK, they are taken from the documentation addresses ranges allocated by ietf

[2022-01-11 21:12] qabpea opened #198 "{IPv4-iptables][e2e] FAIL: Conntrack [It] should drop INVALID conntrack entries [Privileged]"
The test is found here
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/conntrack.go#L355-L479

[2022-01-11 21:19] qabpea opened #199 "{IPv4-iptables][e2e] Fail: ] Services [It] should serve a basic endpoint from pods"
Test is found here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L777-L836
Description of test:
Create a service with a endpoint without any Pods, the service MUST run and show empty endpoints. Add a pod to the service and the service MUST validate to show all the endpoints for the ports exposed by the Pod. Add another Pod then the list of all Ports exposed by b

[2022-01-11 21:23] qabpea opened #200 "[e2e] Fail: Services [It] should be able to change the type from ExternalName to NodePort"
Test can be found here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1339-L1376
Description:
Create a service of type ExternalName, pointing to external DNS. ClusterIP MUST not be assigned to the service. Update the service from ExternalName to NodePort, assigning port 80 as service port and, TCP as protocol. Service update MUST be successful by exposing servic

[2022-01-11 21:30] qabpea opened #201 "{IPv4-iptables][e2e] Fail: Services [It] should allow pods to hairpin back to themselves through services"
Test can be found here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1007-L1034

Description:
A pod initiate a session to a service, the service "picks" the initiating pod as the serving pod. Ie the pod will setup a session to it self.
This requires a SNAT as well as the common DNAT.

This  use case must also be taken care of when cleaning connections from the

[2022-01-11 21:33] qabpea opened #202 "{IPv4-iptables][e2e] Fail: Services [It] should be able to update service type to NodePort listening on same port number but different protocols"
Test can be found here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1228-1299
Description:
Create a service to accept TCP requests. By default, created service MUST be of type ClusterIP and an ClusterIP MUST be assigned to the service. When service type is updated to NodePort supporting TCP protocol, it MUST be reachable on nodeIP over allocated NodePort to se

[2022-01-11 21:50] qabpea opened #203 "[e2e] Fail: Services [It] should be able to create a functioning NodePort service"
Test can be found here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1165-L1191
Description:
Create a TCP NodePort service, and test reachability from a client Pod.
The client Pod MUST be able to access the NodePort service by service name and cluster
IP on the service port, and on nodes' internal and external IPs on the NodePort.

[2022-01-11 21:56] qabpea opened #204 "{IPv4-iptables][e2e] Fail: Services [It] should be able to change the type from ExternalName to ClusterIP"
Test can be found at:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/service.go#L1301-1337
Description:
Create a service of type ExternalName, pointing to external DNS. ClusterIP MUST not be assigned to the service. Update the service from ExternalName to ClusterIP by removing ExternalName entry, assigning port 80 as service port and TCP as protocol. Service update MUST be s

[2022-01-12 04:02] nehaLohia27 commented on #203
/assign

[2022-01-12 04:09] nehaLohia27 commented on #203
e2e tests failing in ipv4 and ipvs backend.
https://github.com/kubernetes-sigs/kpng/runs/4779261817?check_suite_focus=true

[2022-01-12 13:26] rajaskakodkar commented on #191
Currently, kpng pods are crashing with userspacelin backend (code checked out from https://github.com/kubernetes-sigs/kpng/pull/112) with the following error

[code]

this can be a good start to polish off userspacelin implementation.

[2022-01-14 15:48] jayunit100 commented on #196
/assign @hanamantagoudvk

[2022-01-14 16:25] jayunit100 opened #211 "the 60th issue"
just so we can say we have 60 issues

[2022-01-14 16:41] qabpea commented on #201
[fail-12.txt](https://github.com/kubernetes-sigs/kpng/files/7871868/fail-12.txt)

[2022-01-14 16:43] qabpea commented on #198
[fail-14.txt](https://github.com/kubernetes-sigs/kpng/files/7871878/fail-14.txt)

[2022-01-14 16:44] qabpea commented on #202
[fail-13.txt](https://github.com/kubernetes-sigs/kpng/files/7871881/fail-13.txt)

[2022-01-14 16:45] qabpea commented on #196
[fail-10.txt](https://github.com/kubernetes-sigs/kpng/files/7871886/fail-10.txt)

[2022-01-14 16:46] qabpea commented on #204
[fail-8.txt](https://github.com/kubernetes-sigs/kpng/files/7871895/fail-8.txt)

[2022-01-14 16:47] qabpea commented on #200
[fail-8.txt](https://github.com/kubernetes-sigs/kpng/files/7871910/fail-8.txt)

[2022-01-14 16:49] qabpea commented on #174
I assume the node port has the same problem
[fail-7.txt](https://github.com/kubernetes-sigs/kpng/files/7871930/fail-7.txt)
[fail-5.txt](https://github.com/kubernetes-sigs/kpng/files/7871935/fail-5.txt)

[2022-01-14 16:51] qabpea commented on #187
[fail-4.txt](https://github.com/kubernetes-sigs/kpng/files/7871939/fail-4.txt)
Nothing new, just attaching a log file.

How is the work coming along?

[2022-01-14 16:51] jayunit100 opened #212 "kpng local up silent fail"

[2022-01-14 16:52] mcluseau commented on #212
maybe just
[code]

;-)

[2022-01-14 16:55] qabpea commented on #199
[fail-2.txt](https://github.com/kubernetes-sigs/kpng/files/7871964/fail-2.txt)

[2022-01-14 17:13] #212 closed

[2022-01-14 17:32] jayunit100 commented on #212
ya thats fair already merged feel free to refactor

[2022-01-15 02:25] anusha94 commented on #187
So inital idea was to get all Pods, loop through all pods, then loop through all containers in pods, then loop through all ports in containers.
@rikatz suggested that might not be needed and we should be able to get it from the endpoint object itself.
So now looking at how endpoint controller works and how we end up with this endpoints here -
https://github.com/kubernetes-sigs/kpng/blob/b491405fb6

[2022-01-15 02:41] qabpea commented on #187
Two questions and one suggestion:
1: what time zone are you in? I am in EST
2: Do you want to bounce some design ideas off or on line?

Also, don't be shy to ask @mcluseau  for suggestions and bounce an idea before committing to implement.

I personally prefer to always bounce ideas regarding architecture and design with a few people before "acting" be that architecture documents or code. My exper

[2022-01-15 03:01] anusha94 commented on #187
I'm in IST

would love to. I can share findings here or we could discuss on a call too.

Agreed!

[2022-01-16 13:50] jayunit100 opened #214 "mimic Iptables behaviour for ESSIP test passing"
@uablrek wrote a one-liner to add in non-local endpoints for a corner case... we probably should follow suite if this merges
xref https://github.com/kubernetes/kubernetes/pull/97081

[2022-01-16 15:54] jayunit100 opened #215 "KiPiSH: backend, diffable FullState abstraction"
Lets build a diff tool that backends can reuse that replaces serviceChangeTracker ***** FORVER ****

@hanamantagoudvk

# DETAILS

## Problem:

IPVS backends dont use serviceChangeTracker but need a diff solution for

[code]

## Solution:

talking w/ @hanamantagoudvk @mcluseau @knabben @dougsland

- kpng backends get SetService/SetEndpoint for every single K8s delta
- its cheap and easy to cache th

[2022-01-16 16:03] jayunit100 commented on #215
This is a good newcomer issue for the india team i think - so once the library is done maybe we can add unit tests after the fact as a follow on `good-first-issue` @hanamantagoudvk please decompose if you can so we can leverage this to grow the overall group of folks that know how to do this

[2022-01-16 16:26] jayunit100 opened #216 "Add windows kernelspace to KPNG"

[2022-01-17 18:01] dougsland commented on #216
/assign

[2022-01-17 18:10] jayunit100 opened #220 "doc updates for the services-listener.go stuff"
The services-listener framework is going to ultimately be more important as we move away from the in-tree proxy's.

i.e. issue #215

- AddIPPort
- PortsListener
- IpsListener

al flow out from the ServicesListener, i think is tricky to understand, and also how the `SlicesLen` function uses that Diff to mutate things.

stuff, that the backends implicitly wind up needing to implement...
... will dig

[2022-01-17 18:13] dougsland opened #221 "Create a release/tag for the current version available in tree"
- Make sure the project have a `tag` **BEFORE THE RELEASE** to track changes https://github.com/kubernetes-sigs/kpng/tags
        Example:
              - Before changing the minimum go version required for kpng to `golang 1.18` we can tag the current version and release it.
                https://github.com/kubernetes-sigs/kpng/releases/tag/pre-go-1.18

- After tag is done, make a release to hel

[2022-01-17 18:17] dougsland commented on #221
/label good-first-issue

[2022-01-17 18:19] dougsland commented on #221
/good-first-issue

[2022-01-17 18:26] dougsland opened #222 "kpng binaries for download"
Please create binaries for `linux`, `windows` and `darwin` to make available for users download.

For windows specially, this can help https://github.com/kubernetes-sigs/sig-windows-dev-tools project. During the deploy of windows node, `scripts can download kpng.exe` from https://github.com/kubernetes-sigs/kpng/releases automatically and replace `kube-proxy`

Patch available for test here, fell fr

[2022-01-17 18:28] dougsland commented on #222
/good-for-the-first-issue
Helps integration with: https://github.com/kubernetes-sigs/sig-windows-dev-tools

[2022-01-17 18:29] dougsland commented on #222
/good-first-issue

[2022-01-17 18:38] dougsland commented on #221
/assign @rajaskakodar

[2022-01-17 18:38] dougsland commented on #222
/assign @rajaskakodar

[2022-01-17 18:40] jayunit100 opened #223 "Replace IPTables ServiceChangeTracker w/ the new DiffStore..."
Now that the new DiffStore is completed, we can
consider moving the old iptables (serviceChangeTracker) implementation
out as part of the #215 stuff.

[2022-01-17 18:41] jayunit100 commented on #223
See https://github.com/kubernetes-sigs/kpng/commit/c01d4ba3ce61ea05cbbb40292dc57ee45733c517 as an example...

[2022-01-17 18:42] jayunit100 commented on #223
(we can get iptables v6 and v4 to 100% passing before doing this if we want, that way we know wether this breaks anything along the way)

[2022-01-17 19:08] dougsland opened #224 "Integrate CI/CD with `make windows` `make linux` `make darwin`"
As soon we have the commands `make windows` `make linux` and `make darwin` available, please include in the CI/CD pipeline.
Depends on: https://github.com/kubernetes-sigs/kpng/issues/222

[2022-01-17 19:09] dougsland commented on #224
/assign @anusha94

[2022-01-18 03:59] dougsland opened #225 "hack/test_e2e.sh should support multiple CNI"
Not priority but `test_e2e.sh` should support multiple CNI (calico/antrea and friends).

Initial work started here: https://github.com/kubernetes-sigs/kpng/pull/170

[2022-01-18 08:33] hanamantagoudvk commented on #196
/assign @VivekThrivikraman-est

[2022-01-18 09:52] hanamantagoudvk commented on #196
assigned it to vivek as he is handling iptable backend

[2022-01-18 12:46] jayunit100 opened #227 "sig net status update (for feb 2022)"
for APAC team would be cool to do a sig-network status update at one of the thursdays...
- test coverage thus far
- ipv6 / ipv4 status
- ipvs updates from hanamant
- ...

@rajaskakodar

[2022-01-18 15:15] dougsland opened #228 "kpng version shows unknown"
# Issue
`kpng version` should show the git tag/hash id which the build was based or the release version.

Reference:
[1] https://github.com/kubernetes-sigs/kpng/pull/219/commits/2a70684c55a5351d903d6b42d277378ac889c982#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R20

[2] https://github.com/kubernetes-sigs/kpng/pull/219/commits/2a70684c55a5351d903d6b42d277378ac889c982#diff-

[2022-01-18 15:16] dougsland commented on #228
/good-first-issue

[2022-01-19 09:08] polefishu commented on #174
I can't reproduce the problem by following these steps in my v1.16.6 cluster.
Does this take many tries to reproduce?

[2022-01-19 12:56] dougsland commented on #174
Hi @polefishu ,

Should be very straightforward to reproduce using `kpng`. I guess your cluster in version `v1.16.6` is using `kube-proxy` not `kpng`. You could double check using this command:

[code]
For `kpng` you will use the same command but replacing `kube-proxy` with `kpng`

If you would like to give it a test please follow the steps:
[code]

Please let me know if you have any question.

[2022-01-19 14:30] polefishu commented on #174
Hi @dougsland, thanks for reply, my cluster is using kube-proxy.

In my production environment, sometimes there will be a black hole of udp connection as mentioned above.
But I can't reproduce it in the test environment.

[2022-01-19 15:41] dougsland commented on #174
The people that are working in the `kpng` mostly are the persons supporting `kube-proxy` upstream so you are welcome to share here the steps (if you have) to reproduce your issue so we make sure we cover it in the `next generation` of kube-proxy.

However, I would recommend to open an issue as well in kubernetes project as it's the right place for `kube-proxy` issues.

[2022-01-20 10:41] kundan2707 commented on #228
/assign

[2022-01-20 16:05] #65 closed

[2022-01-24 01:25] qabpea opened #234 "Detailed description of interaction between service.ports and pod.containers.port including multi port, target port and container port"
We are missing a detailed description of how:
A Service with multiple port definitions interact with pods and the ports defined in the pod definition.
a pod can "serve" only a subset of the ports defined in the service.
Target port matching is done between the target port defined in the service.ports and the pod.containers.ports (including no container.ports defined)
service.ports.targetPort and p

[2022-01-24 01:28] qabpea opened #235 "Detailed description for what happens when endpoints transition from 0->1 and from 1->0 for UDP service.ports"

[2022-01-24 01:29] qabpea commented on #235
We need a detailed description that makes it clear what the problems are and how to avoid race conditions between manipulation of "load balancing" rules and connection tracking.

[2022-01-24 15:11] #37 closed

[2022-01-24 15:41] AvineshTripathi commented on #113
Could not recieve required information related to the issue hence stepping down ;)

[2022-01-25 00:30] jayunit100 opened #237 "add TLS verification to CI"
We probably should be verifying mTLS/TLS somehow in KPNG.
This is a non-critical path task but i think its a good first issue for someone
wanting to learn how the server communications w/ backends works.

[2022-01-28 13:10] knabben commented on #81
cc @dougsland

[2022-01-28 13:10] knabben commented on #81
/remove-lifecycle stale

[2022-01-28 13:45] dougsland commented on #81
@knabben nice, looks like kpng improved a lot. Today I don't see the errors. I still thing we should move ahead with: https://github.com/kubernetes-sigs/kpng/pull/219 WDYT?

[2022-01-28 14:19] knabben commented on #81
#219 is not related with this issue.

If the command runs with the registry of windows and Linux backends. I'm going to close it.

/close

[2022-01-28 14:19] #81 closed

[2022-01-28 14:20] knabben commented on #81
#219 this is though. @fredkan can have more information of how it's going maybe..

[2022-01-28 19:53] qabpea commented on #234
First I want to thank @aojea  for his help and pointers to code, that really helped.

A service definition list a number of ports, where a port can be abstracted to triplet <name, proto, port number>.
The range for valid port numbers is [1-65535]
Name can be empty/undefined if there is only one port defined for the service

The port definition can optionally also contain a target port definition,

[2022-01-29 08:18] rajaskakodkar commented on #81
@dougsland thanks for opening #219. I think @nehaLohia27 can take over and get it to completion. WDYT?

cc: @jayunit100 @knabben

[2022-01-29 13:19] dougsland commented on #81
Sure thing! @nehaLohia27 welcome aboard!

[2022-01-29 16:26] anusha94 commented on #223
Ooh this issue looks interesting

[2022-01-30 03:14] #187 closed

[2022-01-30 03:26] jayunit100 opened #241 "comment the slice-event-handler OnAdd logic"
this code in slice-event-handler. OnAdd...
[code]
is confusing , i.e. what is this final port that were prioritizing :) , it recently was written to fix a multiport sessinoAffinity e2e failure, i believe... but, lets just make sure we comment the specific logic of this ....

/assign @anusha94 @nehaLohia27

[2022-01-30 16:40] #241 closed

[2022-01-30 18:32] jayunit100 opened #244 "Misc. NFT improvements to serve as a template for other FullState implementations"
@mcluseau suggested that we move things to full state architectures, so im going through the NFT bits to make sure i fully understand them and found a bunch of things that im iterating on in #243 .

- remove the duplicate nftTable datastructures
- add comprehensive details about the nft datastructures used
- add example nft structures into comments so its easier to understand
- make the Finalize/D

[2022-01-30 18:34] jayunit100 commented on #244
If folks have other ux improvements, please add them here ill keep putting them into one mega PR

[2022-01-31 16:38] #66 closed

[2022-02-03 09:28] rajaskakodkar commented on #191
one suggestion from @nehaLohia27, we should try to run this with `-d` flag in e2e_test.sh to make sure this error is caused by e2e tests or not.

[2022-02-03 21:00] qabpea commented on #235
Load balancers like the kpng backends typically consist of two parts
1: A connection tracker that handles established flows/connections. The connection tracker performs exact matches of flows and can also perform different address and port rewrites. A flow/connection is often described with a five tuple:
<Source Address, Destination Address, proto, Source Port, Destination Port>, this is very conf

[2022-02-04 16:00] jayunit100 opened #246 "Analyze current test Flakes"
- We have some flakes, potentially related to UDP dependent tests (i.e. DNS specific testS)
- @qabpea has some suspicions about these being related to conntrack
cc @hanamantagoudvk  was suggesting that maybe our tests lately have become more flakey

[2022-02-04 16:00] jayunit100 commented on #246
/assign @hanamantagoudvk

[2022-02-04 16:04] jayunit100 commented on #157
Whoever wants to work on this, we have a detailed description of some of the conntrack problems here  https://github.com/kubernetes-sigs/kpng/issues/235 .... might be a good place to get started

[2022-02-04 16:04] jayunit100 commented on #157
/unassign

[2022-02-04 16:13] #67 closed

[2022-02-04 16:22] jayunit100 commented on #157
mikael said he can dig into this one for now
/assign @mcluseau

[2022-02-05 10:39] mcluseau opened #247 "Serious QA issues: we've merged code that doesn't even compile"
Missing comma:
https://github.com/kubernetes-sigs/kpng/blob/master/client/serviceevents/service-events_test.go#L52

Also, unit tests are not passing.

I think it is the minimum we can require before merging something. We should have those checks in github's pre-merge conditions.

/good-first-issue

[2022-02-08 10:40] yankay commented on #247
@mcluseau I try to fix the environment. But there are still some unit test cannot pass

[2022-02-08 16:13] qabpea commented on #174
The new conntrack support made by @mcluseau should make this a lot more straight forward to implement

[2022-02-09 02:09] yankay commented on #247
HI , @mcluseau . There is the https://github.com/kubernetes-sigs/kpng/pull/251 to fix the issue . Would you please review it .

[2022-02-09 14:38] #68 closed

[2022-02-10 14:42] jayunit100 opened #252 "[project] Prototype and explore Conntrack fix to IPTables"
These are all prototypical ideas to get conntrack working in iptables. None are ideal but they will get us mobilized in learning the new conntrack module.. and also
learning how fullstate works.

Brainstorming w/ anusha/amim, how to quickly prototype using conntrack

1) Do a nasty in memory impl of ServiceEndpoints in iptables
2) Could you make a conntrack cleanup backend that runs in parallel to

[2022-02-10 14:43] jayunit100 commented on #252
/assign @anusha94

[2022-02-14 16:38] #69 closed

[2022-02-15 00:40] jayunit100 opened #257 "[idea] prototype if you could plumb gateway api defintions into the backend spec"
just an idea but a good way to start
collaborating w/ the gateway folks

[2022-02-16 01:42] dougsland commented on #174
See also: https://github.com/openshift/network-tools/pull/55

[2022-02-16 13:25] rajaskakodkar opened #258 "Add unit tests for iptables backend"
Unit tests need to be added for iptables backend - https://github.com/kubernetes-sigs/kpng/tree/master/backends/iptables

For reference: Unit tests in iptables mode of kube-proxy https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/iptables

[2022-02-16 13:26] rajaskakodkar opened #259 "Add unit tests for ipvs backend"
Unit tests need to be added for ipvs backend - https://github.com/kubernetes-sigs/kpng/tree/master/backends/ipvs-as-sink

For reference: Unit tests in ipvs mode for kube proxy - https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs

[2022-02-16 14:16] qabpea commented on #174
step 1-8 are good, what is missing is to dump the conntrack content at a few places:
1: After step 1 (what does it look before sending anything)
2: After step 2 (how is flow to service with no endpoint handled)
3: After Step 5 Is any black hole flow removed and is there a new flow to the endpoint
4: After Step 7 Is the old flow removed after the endpoint is gone?
5: After Step 8 Is there a new flo

[2022-02-18 15:12] nehaLohia27 opened #260 "IPVS coredns not resolve to kubernetes service"
In ipvs kpng cluster,  pods not able to resolve any services

eg:
curl kubernetes.default
curl: (6) Could not resolve host: kubernetes.default

In the kpng ipvs logs

[code]

[2022-02-18 16:07] jayunit100 opened #261 "pipeSink"
@VivekThrivikraman-est going build a pipe sink !  Heres how it will work ...

[code]

Then we can use it to push events into conntrack cleanup module.

@anusha94  @VivekThrivikraman-est

- will be easier then the fullstate pipe bc only one strategy  flowing events all the way through.
- fullstate had parallel/serial/parallelSend-serialClose

[2022-02-21 13:53] jayunit100 opened #262 "Add TopologyAwareHints to the KPNG brain"
We use the old topology API currently: https://github.dev/kubernetes-sigs/kpng/blob/990877f589ef015a24562a03099084baff2be8fb/server/jobs/kube2store/slice-event-handler.go#L1

[code]

# Problem

I think these APIs start dissapearing in 1.22+, as i recently learned when updating the codebase to 1.23...  So we need to move to the new API to avoid compilation breaking for KPNG w/ 1.23 versions+

https

[2022-02-23 11:44] nehaLohia27 commented on #260
Issue is fixed in this PR
https://github.com/kubernetes-sigs/kpng/pull/265/commits

Thanks @mcluseau

[2022-02-23 11:45] #260 closed

[2022-02-24 04:54] yashsingh74 commented on #258
/assign

[2022-02-24 04:55] yashsingh74 commented on #259
/assign

[2022-02-25 13:46] nehaLohia27 commented on #124
/remove-lifecycle stale

[2022-02-28 08:43] VivekThrivikraman-est opened #267 "Iptables backend: implement local detector"
Right now iptables backend does not consider local detectors(only takes NewNoOpLocalDetector).

[2022-03-04 15:53] jayunit100 opened #269 "hack/smoke-tests/ directory"
a good way for folks in the community to contribute common exploratory tests which are easy to understand from a k8s perspective... which we dont want to have to run through the go automation, while we sniff out some very tricky bugs, could be to take things like dougs issue https://github.com/kubernetes-sigs/kpng/issues/174.

format could be:

[code]

We can start with the interesting udp conntra

[2022-03-04 16:14] #261 closed

[2022-03-05 03:48] anusha94 opened #270 "localDetector in iptables struct"
The `localDetector` field in the `iptables struct` is always initialized to `NewNoOpLocalDetector` -
https://github.com/kubernetes-sigs/kpng/blob/74defb819be8bd30975d82e14718a5c62769ac0d/backends/iptables/iptables.go#L108

But we do have [implementation for detecting traffic](https://github.com/kubernetes-sigs/kpng/blob/master/backends/iptables/traffic.go) originating from within cluster or otherw

[2022-03-05 03:49] anusha94 commented on #270
/assign

[2022-03-05 03:49] anusha94 commented on #270
cc @VivekThrivikraman-est

[2022-03-09 13:04] rajaskakodkar commented on #191
confirmed this by running
[code]
the error still persists so this is not due to any e2e test failure. Userspacelin is crashing.

[2022-03-10 03:45] nehaLohia27 opened #271 "Add localDetector in ipvs backend"
We need localDetector implementation in ipvs backend also to check for traffic originating from incluster or not.

[2022-03-10 03:45] nehaLohia27 commented on #271
/assign

[2022-03-14 13:49] #3 closed

[2022-03-15 07:27] nehaLohia27 commented on #271
#272

[2022-03-17 08:47] yankay opened #274 "Update Golang to 1.18 (from 1.18beta2)"
Since Golang 1.18 is released, Golang 1.18 was released: https://go.dev/blog/go1.18

Updating Golang to 1.18 (from 1.18beta2) makes sense.

[2022-03-21 16:58] #80 closed

[2022-03-23 15:14] #274 closed

[2022-03-25 14:48] jayunit100 opened #277 "kpng brain needs CONSISTENT hashing --> cannot rely on golang map iteration due to randomness.... IPVS broken bc of this."
........... (golang intentionally randomly orders map keys) .........

@VivekThrivikraman-est @hanamantagoudvk @nehaLohia27 have been deep diving into IPVS and are finding that ever since the refactoring, ipvs is logically inconsistent/things are breaking.

IPTables isnt suffering from this failure though b/c it uses the serviceChangeTracker and doesnt need the kpng hashes to be in place.

Lets ad

[2022-03-25 14:49] jayunit100 commented on #277
/assign @VivekThrivikraman-est

[2022-03-25 14:49] jayunit100 commented on #277
/assign @nehaLohia27

[2022-03-25 14:49] jayunit100 commented on #277
/assign @hanamantagoudvk

[2022-03-28 17:15] #84 closed

[2022-03-31 02:37] #86 closed

[2022-03-31 11:41] #41 closed

[2022-03-31 11:41] #42 closed

[2022-03-31 11:41] #43 closed

[2022-04-05 10:41] #92 closed

[2022-04-09 10:26] #96 closed

[2022-04-09 15:31] #103 closed

[2022-04-09 15:31] #104 closed

[2022-04-11 18:52] #53 closed

[2022-04-14 23:37] #110 closed

[2022-04-15 02:57] jayunit100 opened #278 "Whats the right way to store backend specific data associated w/ an endpoint?"
I wrote up a question here https://jayunit100.blogspot.com/2022/04/serviceinfo-structs-in-kube-proxy.html

which i ran into when i needed the hnsID stored in the KPNG v1locanet.Endpoint object.

Whats the right way to, for examples, store the HNS ID when using SetService/SetEndpoint implementations, and in general , to cache backend specific data for an endpoint ?

[2022-04-15 07:30] mcluseau commented on #278
you know I'm going to say it's a no-brainer with fullstate+diffstore2 approach right? :rofl:
The diffstore will store the state you want, and you'll get the extra bonus of being able to have an arbitrary number of values for each kpng object, like multiple HNS IDs for each endpoint. And I given your blog post, it looks like you'll multiple HNS IDs per endpoint, since you'll have one for each port

[2022-04-15 13:04] jayunit100 commented on #278
i guess your right, we could leverage the diffstore for all the extra metadata

[2022-04-15 14:51] jayunit100 opened #279 "update the KEP !"
@danwinship mentioned that we should update the KEP w/ as much details as possible about the current state

[2022-04-15 14:54] jayunit100 commented on #279
lets prioritze this at least for a week or so to get others up to speed

[2022-04-18 18:12] #102 closed

[2022-04-18 21:35] marosset commented on #216
/remove-lifecycle stale

[2022-04-21 10:23] kundan2707 commented on #228
/remove-lifecycle stale

[2022-04-22 05:37] #109 closed

[2022-04-22 16:43] #111 closed

[2022-04-25 13:04] #34 closed

[2022-04-25 13:04] #123 closed

[2022-05-04 15:11] #140 closed

[2022-05-05 17:28] mcluseau commented on #157
I think it's done at least since #264  ;)
/close

[2022-05-05 17:28] #157 closed

[2022-05-06 13:34] jayunit100 opened #280 "Figure out future of userspace"
Userpsace linux proxy is now merged per @rajaskakodkar .

Final steps

- either add CI for it or
- lets either cut a KPNG release with it in the codebase, and revert as a point in time so that we dont have an untested linux backend in CI
- or (3) now completlely rewrite it using the diffstore implementation
- Add a README w/ all the caveats and polishing

[2022-05-07 08:47] rajaskakodkar commented on #280
/assign

[2022-05-11 13:50] #120 closed

[2022-05-16 17:33] #141 closed

[2022-05-16 17:33] #142 closed

[2022-05-16 17:33] #154 closed

[2022-05-16 17:33] #155 closed

[2022-05-16 18:33] #143 closed

[2022-05-16 19:33] #150 closed

[2022-05-22 06:18] #136 closed

[2022-05-25 20:46] jayunit100 opened #282 "Add make target for grpc compilation"
we need to:
- document how to build our GRPC stubs which live in https://github.com/kubernetes-sigs/kpng/blob/master/api/localnetv1/services.proto
[code]

- make a hack/generate-grpc.sh script
- make a hack/verify-grpc.sh script
- add a ci job that runs "generate-grpc.sh" and then compares (diffs) content w/ verify-rpc.sh -> fails if different

/good-first-issue

[2022-05-27 14:34] jayunit100 commented on #282
we need to:
- document how to build our GRPC stubs which live in https://github.com/kubernetes-sigs/kpng/blob/master/api/localnetv1/services.proto
[code]

- make a hack/generate-grpc.sh script
- make a hack/verify-grpc.sh script
- add a ci job that runs "generate-grpc.sh" and then compares (diffs) content w/ verify-rpc.sh -> fails if different

/good-first-issue

[2022-05-27 18:18] kanha-gupta commented on #282
Hi i would like to contribute
i am a newbie

[2022-05-29 20:06] #156 closed

[2022-06-01 13:43] rajaskakodkar commented on #259
/cc @shaneutt

[2022-06-01 13:43] rajaskakodkar commented on #282
/cc @shaneutt

[2022-06-01 14:16] shaneutt commented on #259
@yashsingh74 it sounded like at one point in the past you wanted to take this one on, is that still the case? Let us know if you're OK with us assigning someone else. :vulcan_salute:

[2022-06-02 15:01] jayunit100 opened #283 "[idea/project] prototype a userspace-ish mesh w kpng"
Just discussing this w/ @rajaskakodkar .... @anusha94
might be interested... there was some feedback at recent presentations that were given to them about this topic:

With the userspace proxy merged, we now could prototype a service mesh that used KPNG as its logical data model.   a rough way to approach this might be, do some r&d on our existing proxys and service meshs... and then try to use ou

[2022-06-03 17:38] #178 closed

[2022-06-04 06:20] yashsingh74 commented on #258
Created a PR- https://github.com/kubernetes-sigs/kpng/pull/284

[2022-06-06 02:02] #182 closed

[2022-06-06 12:54] yashsingh74 commented on #282
/assign

[2022-06-06 13:00] yashsingh74 commented on #282
Open a PR- https://github.com/kubernetes-sigs/kpng/pull/285

[2022-06-10 02:25] #194 closed

[2022-06-10 13:30] #146 closed

[2022-06-11 06:39] #203 closed

[2022-06-13 18:02] #211 closed, assigned to nobody

[2022-06-13 19:03] #198 closed

[2022-06-13 19:03] #201 closed

[2022-06-13 19:03] #204 closed

[2022-06-13 19:04] #199 closed

[2022-06-13 19:04] #202 closed

[2022-06-13 19:04] #197 closed

[2022-06-14 04:29] nehaLohia27 commented on #271
/remove-lifecycle stale

[2022-06-15 14:15] jayunit100 opened #289 "Add a quick comment/link back to the service.go e2e"
The service.go e2e queries the kube proxy for the "type" of proxy as part of the way it tests...

https://github.com/kubernetes/kubernetes/blob/b1e2af45e4ff126fcbcffa2e66ed36502103be7b/test/e2e/network/service.go#L3911

In cases where you dont have a kube proxy running, these tests dont run at all.. i.e. they are backend specific

We should comment why we run "servceProxyMode" for the future so th

[2022-06-15 14:16] jayunit100 commented on #289
good way to learn up about upstream e2es

[2022-06-15 15:18] #214 closed

[2022-06-15 20:22] #215 closed

[2022-06-16 02:52] chetak123 commented on #289
/assign @chetak123

[2022-06-16 20:37] #220 closed

[2022-06-16 21:37] #222 closed

[2022-06-16 21:37] #224 closed

[2022-06-16 21:37] #221 closed

[2022-06-17 05:40] #225 closed

[2022-06-17 11:46] #196 closed

[2022-06-17 14:46] #227 closed

[2022-06-23 15:20] aahemm commented on #289
Hi @chetak123,
It seems that you are working on this issue right now. Please let me know if it is not the case. Thanks.

[2022-06-24 01:07] chetak123 commented on #289
yes I'll be making a PR soon for this issue

[2022-06-24 01:55] #237 closed

[2022-06-24 11:03] aahemm commented on #228
Hi @kundan2707,
it seems that you were working on this issue a while ago. Please let me know if it is not the case now. Thanks.

[2022-06-24 14:37] jayunit100 opened #290 "mutating service types doesnt trigger ServiceEvents"
@hvkk8s is looking at our failing IPVS tests

[code]

The bug is:
- make a ClusterIP
- update it to a NodePort

And the 2nd thing doesnt get triggered in our events, so kpng backend never actually updates the IPVS service to open up that nodeport.

[2022-06-26 17:44] aahemm commented on #124
Hi @FriedrichWilken,
I would like to contribute to the docs and learn more about the project. Where can we start?

[2022-06-27 21:40] #234 closed

[2022-06-28 17:53] #223 closed

[2022-06-29 20:06] #244 closed

[2022-07-01 14:38] jayunit100 opened #293 "quickie: make sure all PRs run all tests"
https://github.com/kubernetes-sigs/kpng/pull/291 didnt seem to trtigger CI tests , even though it modified ipvs.go

When/Why does our CI job run/not run ?

[2022-07-01 14:38] jayunit100 commented on #293
/good-first-issue

[2022-07-01 14:38] jayunit100 commented on #293
/assign @nehaLohia27

[2022-07-02 18:24] gauravkghildiyal commented on #262
@jayunit100 Looks like we've migrated to `.24` already. Can you confirm if this is issue is not valid anymore?

[2022-07-04 16:55] #235 closed

[2022-07-04 16:55] #246 closed

[2022-07-06 04:56] gauravkghildiyal opened #296 "Inconsistent usage of klog versions"
`kpng` at the moment uses two different versions of [klog](https://github.com/kubernetes/klog):
* https://pkg.go.dev/k8s.io/klog
* https://pkg.go.dev/k8s.io/klog/v2

This inconsistency results in some logs not showing up even with high verbosity flag enabled.

For example, the main entry point initializes the log variables with klog v1,
https://github.com/kubernetes-sigs/kpng/blob/501ca925f2b0f958

[2022-07-06 04:56] gauravkghildiyal commented on #296
/assign

[2022-07-08 14:45] jayunit100 opened #298 "Update to 1.25"
Lets update the KPNG brain  to 1.25 ! were falling behind

initial testing indicating that were broken on 1.25 bc of beta removal of endpoints

[2022-07-10 16:00] #252 closed

[2022-07-14 06:45] mcluseau commented on #298
AFAICT client-go is still 1.25 alpha:
[code]

[2022-07-14 07:23] mcluseau commented on #293
there's just an approval required

[2022-07-14 07:58] #296 closed

[2022-07-15 02:52] #257 closed

[2022-07-15 13:07] jayunit100 commented on #293
Ah OK

/close

[2022-07-15 13:07] #293 closed

[2022-07-15 14:41] jayunit100 opened #300 "ebpf ci job"
Follow on to #292 , we'll need to build a Job, but it will fail (we know that) , because of these:

- should be able to preserve UDP traffic when server pod cycles for a NodePort service
- should be possible to connect to a service via ExternalIP when the external IP is not assigned to a node
- [sig-network] Services �[0m�[91m�[1m[It] should be able to create a functioning NodePort service
- [sig-

[2022-07-15 15:01] jayunit100 opened #301 "add licensing files"
we need add  licensing to everything so we can merge it into the cncf

every golang file should have the standard kubernetes license.

[2022-07-15 18:36] aahemm commented on #301
/assign

[2022-07-18 07:28] mcluseau commented on #216
/remove-lifecycle stale

[2022-07-18 15:26] jayunit100 opened #302 "informal docs on how to run KPNG in ( cluster-lifecycle, kubeadm, kops, kubespray, openshift community, tanzu community edition, k3s, other offerings ...) ?"
If someone wants to investigate what other projects we may want to
update to be able to swap about the kube proxy.... this is a good long term
initiative... goal would be, a series of blog posts or cncf posts on how to run KPNG in different environments.  it might help us to get other folks testing/using it as an alternate.

- blog post on how to run it in CAPI
- blog post on how to run it in kind

[2022-07-18 15:27] jayunit100 commented on #302
projects to consider here:
- kops
- capi
- kubespray
- tf providers
...

[2022-07-24 08:43] jayunit100 commented on #301
thanks @aahemm !

[2022-07-24 08:44] #301 closed

[2022-07-24 10:38] jayunit100 opened #305 "figure out how to test clusterTraifficPolicy=cluster vs local, in KPNG"
Looking at https://github.com/kubernetes-sigs/kpng/pull/287/

*possibly add new tests upstream (or see if theyre there already)*

- Talking to @mcluseau , he's trying to support the ability of the kpng proxy to make sure that it only uses local endpoints when "clusterTrafficPolicy=local".

- to test this, we can make  a service w/ externalIP or NodePort to pull a servieEndpoint=local, where EACH E

[2022-07-24 11:01] jayunit100 commented on #305
i.e. "services should not source NAT" - mc

[2022-07-24 19:30] uablrek opened #308 "Backends nft and ipvs can't handle hairpin"
K8s e2e-test;
[code]

This test fails for backends;

* `nft`
* `ipvs`

but succeeds for backends `iptables`, `ebpf` and `userspacelin`.

[2022-07-24 20:16] uablrek commented on #228
I have added it to `hack/go-build` in PR https://github.com/kubernetes-sigs/kpng/pull/306.

[2022-07-26 01:09] srampal opened #310 "Add support for NodePort in kpng/ ebpf"
Issue to track work for adding support for NodePort services in the eBpf backend of kpng.

[2022-07-26 06:58] uablrek opened #311 "The ipvs backend segv's if the ipvs module is not loaded"
First;

### Please do *not* check modules!

That is a _very wrong_ path, please read https://github.com/kubernetes/kubernetes/issues/108579#issuecomment-1125675626.

But `kpng` shouldn't segv for whatever reason so this should be fixed.

In my env I fix this by adding this before starting `kpng`;
[code]
See, no module checks!

<details><summary>Stack-trace</summary>

[code]
</details>

[2022-07-26 07:04] uablrek commented on #311
/kind bug

[2022-07-26 10:03] jayunit100 commented on #310
/assign srampal

[2022-07-26 10:04] jayunit100 commented on #310
Great to have you helping us flesh this out  thanks sanjeev

I know nodeports are tricky in eBPF can you add a few details to this issue on how well implement them?

[2022-07-26 10:18] uablrek commented on #311
/cc @VivekThrivikraman-est

[2022-07-26 17:47] #124 closed

[2022-07-26 20:31] astoycos commented on #305
We should be able to test this with an extra "remote" container

[2022-07-27 08:42] uablrek opened #312 "ServiceInternalTrafficPolicy not supported"
[Service Internal Traffic Policy](https://kubernetes.io/docs/concepts/services-networking/service-traffic-policy/) is beta in K8s v1.23+.

I don't know if this is a backend-only problem, or if the problem is in "main kpng". Anyway all backends I have tested fails on these e2e tests;

[code]

[2022-07-27 10:02] uablrek opened #313 "IPv6DualStack e2e tests fails for all backends"
E2e tests executed with;
[code]

### Test results

<details><summary>nft</summary>

[code]

</details>

<details><summary>ipvs</summary>

[code]

</details>

<details><summary>iptables</summary>

[code]

</details>
<details><summary>ebpf</summary>

[code]

</details>
<details><summary>userspacelin</summary>

[code]

</details>

<details><summary>kube-proxy</summary>

[code]

</details>

### Tasks

[2022-07-28 10:14] #267 closed

[2022-07-30 08:14] uablrek opened #317 "Api discovery.k8s.io/v1beta1 is removed in K8s v1.25+"
Replaced with discovery.k8s.io/v1.

The `Topology` field used by kpng is removed from the API, probably replaced by [Hints](https://github.com/kubernetes/kubernetes/blob/2e64ae6d6253737448c7a7bf8a2f76989b13935c/staging/src/k8s.io/api/discovery/v1/types.go#L113).

There is a [DeprecatedTopology](https://github.com/kubernetes/kubernetes/blob/2e64ae6d6253737448c7a7bf8a2f76989b13935c/staging/src/k8s.i

[2022-07-30 08:17] uablrek commented on #317
/priority urgent

[2022-07-31 11:46] mcluseau commented on #305
@astoycos yes, I was thinking of a daemonset returning its nodeName ie over HTTP

[2022-07-31 13:22] astoycos commented on #305
@mcluseau I can take a look at this :) we do something similar in ovn-kubernetes

/assign

[2022-08-01 13:41] #259 closed

[2022-08-01 18:46] #262 closed

[2022-08-01 19:34] mcluseau commented on #262
/reopen will be solved soon

[2022-08-02 05:46] #270 closed

[2022-08-03 06:55] #258 closed

[2022-08-04 07:21] #290 closed

[2022-08-05 14:55] jayunit100 opened #321 "Uodate README table with WIP backends separated from complete ones"
So far IPTables, IPVS are pretty stable passing 100s of the CI tests etc, with only a few bugs ( < 5 tests ).

But others (eBPF and NFT) arent as well tested.

A good first issue for someone would be to test all backends and write up into the README which ones we consider experimental

- on ipv6
- on ipv4
- what % tests fail (sig-net/conformance)

/good-first-issue

[2022-08-06 13:24] #191 closed

[2022-08-09 16:11] papagalu opened #322 "[windows] Fix HCN resources not being deleted"
The issue might be refcount, not reaching 0, so the cleanup is not triggered.

Wouldn't it be better to just call a delete on the resource itself, and be done with it? and remove the cleanup from syncProxyRules

[2022-08-09 16:16] papagalu opened #323 "[windows] Cleanup of Windows Kernelspace"
Since massive code drop from in tree kp we have too many definitions of resource in the windows kernelspace that is making the code hard to maintain
Also having maps of maps with structs as keys do not help
I would like to go back to simple array and plain localnetv1.Service & Endpoint + HCN ID, i believe that's all that we need from HCN to keep track of resources. And we can iterate on top of it,

[2022-08-11 09:46] mcluseau opened #324 "Check topology logic to see if we match it"
see https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/topology.go#L40

[2022-08-12 13:14] jayunit100 opened #325 "big scale test thats publically documented"
we need to do a big, public, open scale test of kpng on say, 50 nodes and leave it up for a week as part of de-risking any questions that come up in https://github.com/kubernetes/enhancements/pull/2094

any company's willing to sponsor infra, please leave a note in here !

[2022-08-13 11:20] jayunit100 opened #326 "Renaming "Interface" in decoder.go , filterreset.go, and adding godocs to make code easier to read"
This is a general "make the decoder.go and filterreset.go stuff easy to understand" issue ...

As of now in the iptables backend we implement an Interface, called "Interface" :) i.e. we

- implement the "Interface" interface
- create a new decoder with the sink (iptables implementation of "Interface") as input
- send that decoder over to filterreset

# Solution

Let's dumb these components down a

[2022-08-13 17:59] jayunit100 commented on #326
closing for now, from talking w/ mikael i think this is normal in go, for example, in `package sort` theres an interface called `Interface`.  I might add some godocs but if so, ill do that in a separate issue

[2022-08-13 17:59] #326 closed

[2022-08-14 12:26] #317 closed

[2022-08-19 13:38] jayunit100 opened #327 "[understandability] make nft/ and iptables/ packages more similar"
Both NFT And IPTAbles import the localsink package, of course, but the import different structs from it.  To make it clear where their architecture is similar lets

- move the logic of iptables sink.go  into register.go OR
- make the register.go in nft separated out into sink.go for the part that imports the "sigs.k8s.io/kpng/client/localsink/fullstate"
- make it so the different Sink implementati

[2022-08-19 14:59] jayunit100 commented on #325
Were still looking for help here , if anyone on the Azure, EC2, GKE side wants to donate some infra let us know ! we only need it for a month!

[2022-08-19 15:07] jayunit100 commented on #325
Is there a a/b service proxying performance test that we can run ? @danwinship @astoycos

[2022-08-19 15:20] jayunit100 opened #328 "backend agnostic reconciliation test"
we'd like something like https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/kube_proxy.go that we can use to run a/b comparisons in service of #325

@astoycos is interested in this, seems like a simple way to do it would be

[code]

and then, say 1000 times

- modify pod count (scale up or scale down)

[code]

continuously.

[2022-08-19 15:25] jayunit100 commented on #328
/assign @astoycos

[2022-08-19 15:25] jayunit100 commented on #328
/unassign @astoycos

[2022-08-19 15:26] jayunit100 commented on #328
/good-first-issue

(For an experienced programmer that knows how to use client-go)

[2022-08-19 17:33] mcluseau commented on #328
how far is taht from https://github.com/kubernetes-sigs/kpng/blob/master/server/cmd/kpng-backend-torture/main.go ?
Other refs:
- #150
- `dist/kpng-backend-torture --listen unix:///tmp/kube-proxy.sock --sleep 1s 0:0 10000:10 10001:10 0:0 100000:1 0:0 1:100000` : 1s delay between diffs to the client, start with 0 services each with 0 endpoints, then 10k services with 10 endpoints, then 10k1 services

[2022-08-21 11:30] jayunit100 commented on #327
this is not really a good first issue :) i think ill do it

[2022-08-21 11:31] jayunit100 commented on #327
/assign

[2022-08-21 18:07] #164 closed

[2022-08-23 15:13] mcluseau commented on #277
/reopen I'll merge the endpoints scope PR

[2022-08-23 15:14] #277 closed

[2022-08-23 17:27] jayunit100 commented on #216
all done ! see the backends/windows/kernelspace directoryyyy

[2022-08-23 17:27] #216 closed

[2022-08-23 17:38] jayunit100 opened #330 "Prototype running kpng-windows in Containers"
Currently the way we test is in process

https://jayunit100.blogspot.com/2022/03/my-dev-workflow-for-kpng-windows.html?q=windows

However, @marosset has volunteered to get kpng windows backend working in a container (host process) which would be great !

To do this we'd need to

- build the container
- containerize the `api=... to-winkernel`

[2022-08-24 01:18] jayunit100 opened #332 "fix godeps"
was running into the dreaded https://github.com/kubernetes/kubernetes/issues/79384 error today.

Fixed in #331

In general the steps are, to find a working snippet of

[code]

and then pray... i.e. this time i leaned on https://github.com/kubernetes/website/blob/main/go.mod :)

Note for the future, theres something possibly funny going on w/ hcsshim and its dependency on
https://github.com/lithamm

[2022-08-31 13:54] jayunit100 commented on #332
fixed

[2022-08-31 13:54] #332 closed

[2022-08-31 17:55] marosset commented on #330
https://github.com/kubernetes-sigs/kpng/pull/337

[2022-08-31 19:14] nerdalert opened #339 "Deprecate endpoints in kpng for v1.25 compatibility"
Hi kpng frens @astoycos , looks like endpoints needs deprecation for v1.25 compatibility. Happy to assist and/or update CI once it's in.

K8s v1.25:

[code]

K8s v1.24:

[code]

Thanks!

[2022-08-31 19:23] astoycos commented on #339
/assign @astoycos

[2022-08-31 19:25] astoycos commented on #339
This might be a good first issue for someone? @jayunit100 If not I can try to get to it this week

We definitely need to transition to endpointSlices completely

[2022-08-31 19:38] mcluseau commented on #339
they're already, but a new reference to `discovery/v1beta1` appeared recently ;-)

[code]

[2022-08-31 20:15] astoycos commented on #339
Also @nerdalert It looks like there is a `--use-slices` flag as well
[code]

[2022-08-31 20:18] astoycos commented on #339
Seems like a pretty easy fix Thanks @mcluseau!!!

[2022-08-31 21:01] astoycos commented on #339
/assign @astoycos

[2022-09-01 14:01] #339 closed

[2022-09-01 18:00] srampal opened #342 "kpng w/ ebpf backend : Cluster DNS not working"
I am trying out KPNG with the ebpf backend and running into a scenario where cluster DNS resolution doesnt seem to work.

This is with a Kind-kpng cluster on a Fedora 3.6 machine and 5.19 kernel
[vagrant@bnp-vm kpng]$ uname -r
5.19.4-200.fc36.x86_64

The symptom is that DNS resolution fails when resolving a k8s service name in some cases. I have a deployment of nginx pods that expose a clusterIP s

[2022-09-01 18:34] astoycos commented on #342
/assign @astoycos

[2022-09-01 18:44] astoycos commented on #342
So this looks to be directly related to what node the client is on, curls always go from pod `tmp-shell3` -> service `nginx-default`

[code]

` curl 10.2.219.25` aways works

`curl nginx-deployment` only works when client the client is on a different node for some reason

Works
[code]

Doesn't work
[code]

[2022-09-01 20:20] srampal commented on #342
Not working in my setup regardless of same or different nodes .. (both cases below didn't work)

`[vagrant@bnp-vm kpng]$ kc get pods -o wide
NAME                               READY   STATUS    RESTARTS   AGE    IP         NODE                         NOMINATED NODE   READINESS GATES
nginx-deployment-9456bbbf9-m6gw7   1/1     Running   0          129m   10.1.2.3   kpng-e2e-ipv4-ebpf-worker2   <non

[2022-09-04 14:22] asim-reza commented on #328
/assign

[2022-09-08 16:38] astoycos opened #344 "Promote an official KPNG image to `registry.k8s.io`"
External Users of KPNG need a way to get up to date images, we should therefore setup the infra to automatically push the KPNG docker image to `registry.k8s.io`.

In general the Steps are as follows (to the best of my knowledge)

1. Setup an official group for KPNG at https://github.com/kubernetes/k8s.io/blob/main/groups/sig-network/groups.yaml
2. Make a Prow Job for the image pushing (see ingress

[2022-09-12 14:59] #278 closed

[2022-09-12 17:01] #279 closed

[2022-09-16 08:36] ameukam commented on #325
@jayunit100 Can we get more details about technical requirements ? spec of a nodes ? for how long the scale test is supposed to run ? 24/7 ? only one test to run ?

[2022-09-16 14:47] jayunit100 opened #347 "remove python dependency"
theres a one liner for templating that we do for ebpf ... we probably dont need j2 , for just templating one file ,,,, do we ?   maybe easier to just do a go template thing which would work on any kpng developer environment

[code]

[2022-09-16 14:48] jayunit100 commented on #347
/good-first-issue

[2022-09-16 14:53] ameukam commented on #344
cc

[2022-09-16 15:13] jayunit100 commented on #280
https://github.com/jayunit100/k8sprototypes/blob/master/smoke-tests/nginx-pod-svc.yaml. maybe as a first smoke test -- - start kpng w a linux userspace proxy and see.... wether basic services in here work ?

[2022-09-17 06:44] ksankeerth commented on #347
Hi @jayunit100 ,
I'm new to kpng. Shall I try to replace j2 with go template? thanks

[2022-09-17 16:05] jayunit100 commented on #347
Sure thanks!

[2022-09-20 10:50] uablrek opened #349 "An endpoint(slice)-controller"
I propose to implement an endpoint(slice)-controller in the same spirit as kpng, with an intelligent frontend and backend plugins.

/kind feature

### Rationale

When using [kpng](https://github.com/kubernetes-sigs/kpng) as a [specialized proxier](https://kubernetes.io/blog/2021/10/18/use-kpng-to-write-specialized-kube-proxiers/) with a `selector` in the service, K8s will populate endpoint-slices

[2022-09-20 10:53] uablrek commented on #349
I write this as an issue here for discussion and feedback. It's really not dependent on kpng but since kpng makes it so much easier to write specialized proxiers it is related IMHO.

[2022-09-20 12:11] uablrek commented on #349
The endpoint-controller-name has been discussed in some length, please see https://github.com/kubernetes/enhancements/pull/1561, and even implemented in https://github.com/kubernetes/kubernetes/pull/87488.

I guess that will not be accepted with multi-network around the corner (in 2025 perhaps).

[2022-09-20 19:18] astoycos commented on #349
@uablrek So would this would be like adding "another/custom kpng server instance" to handle passing/passing events for specific endpoint-slices i.e ones that belong to a different network? So that then a proxy will then setup datapath rules only for endpoints which are within the same network?

So in KPNG the flow would be something like

K8s API -> Endpoint Slices(multi networked) -> Kpng Server

[2022-09-20 23:04] jayunit100 opened #351 "add comprehensive prometheus metrics to kpng brain"
We need to add comprehensive prometheus metrics to the brain, i.e.  so we can measure

- whenever it responds to a GRPC req
- whenever it is calling the APIserver , how long it takes before it recieves data
- etc...

And to the kpng client (that lives on backends) so we can get

- info on whenever a diff is percieved
- how long it takes to read through all endpoints
- how long insertes/updates tak

[2022-09-20 23:04] jayunit100 commented on #351
this is a pretty hard first issue but, i think it would be a blast to work on

[2022-09-20 23:09] jayunit100 opened #352 "e ) erase_clusters=false ;;... doesnt work"
hey yall im trying to

- hack up the test_e2e.sh script to do `erase_clusters=false` but im not seeing any effect...

[code]

but then if i run

[code]

I ultimately end up with cluster gettin deleteddd :( :( :(

[code]

/good-first-issue

[2022-09-21 06:30] asim-reza commented on #351
/assign

[2022-09-21 13:48] jayunit100 opened #353 "remove the endpoints logic in favor of only using endpoint slices"
right now the kube2store has a fair amount of logic for setting up (if/else) endpoint controllers, and also duplicate mapping logic to convert the incoming k8s api endpoints objects to kpng objects.

if we just ditch that logic (since , endpoints now deprecated https://kubernetes.io/docs/reference/using-api/deprecation-guide/#endpointslice-v125 ).... we can clean some tech debt

also this is a  ea

[2022-09-21 14:42] aryan9600 opened #355 "Userspace backend can't resolve DNS"
When using the userspace backend, connections to IP addrs succeed as expected but using a domain name fails.

Repro steps:
* `IMAGE=kpng:test PULL=Never BACKEND=userspacelin ./kpng-local-up.sh`
* `k run agnhost --image=gcr.io/kubernetes-e2e-test-images/agnhost:2.8`
* `k create -f https://raw.githubusercontent.com/jayunit100/k8sprototypes/master/smoke-tests/nginx-pod-svc.yaml`
* `k exec -it agnhost

[2022-09-21 14:43] aryan9600 commented on #355
/kind bug

[2022-09-22 17:45] marosset commented on #344
I can help with any parts of building the Windows container images.

[2022-09-22 18:17] emabota commented on #352
Hi @jayunit100,
I am a New Contributor and would like to work on this issue. Can you please provide some orientation on how to approach this issue? Thanks
/assign

[2022-09-22 19:17] jayunit100 commented on #352
Hi just try to run the hack/test_e2e script w iptables option and use the -e flag you will see what I mean :)

[2022-09-23 15:05] jayunit100 commented on #349
can we rename this to "support finer grained selectors in the kpng data model so that extraneous NICs arent added in multi-networked environments"

[2022-09-23 18:31] uablrek commented on #349
OMG, that _I_ don't understand :smile:

I should clearify that this proposal is independent of kpng, not an extension but more of a complement.

[2022-09-29 16:09] robscott commented on #349
Maybe related to https://github.com/kubernetes/kubernetes/issues/112491?

[2022-10-10 16:20] #353 closed

[2022-10-11 07:55] mcluseau commented on #262
TopologyAwareHints are not done yet, I just removed the TopologyKeys to be
1.24-compatible.

On Sat, Jul 2, 2022, 19:24 Gaurav Kumar Ghildiyal ***@***.***>
wrote:

[2022-10-11 19:01] srampal opened #366 "Add support for LoadBalancer in nftables backend"
The current implementation of the nftables backend officially only supports ClusterIP and NodePort service types. This issue is to track the requirement of adding support for LoadBalancer service type. ExternalName service type should also be verified with this backend even if it requires no additional code to work.

[2022-10-12 08:12] mcluseau commented on #298
/remove-lifecycle stale

[2022-10-13 13:57] jayunit100 commented on #351
@astoycos did this over the wknd :)

[2022-10-13 14:01] asim-reza commented on #351
Was swamped with work sorry

[2022-10-13 14:38] jayunit100 commented on #351
no problem he can push the initial up and then we can iteratively add new metrics

/assign @astoycos

[2022-10-13 15:40] astoycos commented on #300
Fixed by https://github.com/kubernetes-sigs/kpng/pull/309

[2022-10-13 15:40] astoycos commented on #300
/close

[2022-10-13 15:40] #300 closed

[2022-10-14 03:04] #298 closed

[2022-10-14 07:58] uablrek commented on #349
This may be solved in K8s (not kpng), please see;

https://docs.google.com/document/d/1k0V5FhMqZhHgUZ9PnixKX0VDNOEyuZLWLRniPIzHWEY/edit

[2022-10-14 14:40] jayunit100 opened #372 "add OWNERS to userspace/"
lets add @aryan9600 to OWNERS.md for /userspace

[2022-10-14 14:46] astoycos commented on #347
Fixed by #258

[2022-10-14 14:47] astoycos commented on #347
/close

[2022-10-14 14:47] #347 closed

[2022-10-14 14:53] jayunit100 opened #374 "Printout failing and passing tests separately...."
Right now, our tests are a little confusing

- Some tests fail
- Some tests pass

But we pass PRs anyways...  we need someone to separate the test reports of

- passing
- failing, regression (breaks ClusterIP services)
- failing, non-regression (affinity)

[2022-10-14 14:55] aryan9600 opened #375 "Bump CI to go 1.19"
Since upstream `kubernetes/kubernetes` is on go 1.19, it'd be nice if we stay in sync.

[2022-10-14 14:57] rahulkrishnanfs commented on #374
I would like to pick this task !

[2022-10-14 15:06] jayunit100 opened #376 "Add Motivation section to KEP"
/assign @astoycos @mikezappa87

[2022-10-14 15:28] jayunit100 opened #377 "lets format the code in ci"
@astoycos thinks were CRAZY bc we dont `gofmt` EVERY SINGLE PR

lets make him happy :)

files to impl
[code]

[2022-10-14 15:28] jayunit100 commented on #377
/good-first-issue

[2022-10-14 15:51] heisaman commented on #377
I'll fix it. 😃

[2022-10-14 18:31] jayunit100 opened #378 "Make makefile more idempotent / maybe Make it a taskfile (begginer issue)"
Intentionally leaving this vauge: Whoever picks it up can chose how to do it.  Fun issue to start with .   Either

-  fix the makefile targets so they all work OOTB (for example by running `eval "$(curl -sL https://raw.githubusercontent.com/travis-ci/gimme/master/gimme | GIMME_GO_VERSION=1.18beta1 bash)"` beforehand ... or confirming GOLang version...
- in the process if folks want to get rid of m

[2022-10-14 18:34] jayunit100 commented on #378
/good-first-issue

[2022-10-14 23:50] jayunit100 opened #379 "build a relationship out w/ sig-scalability and flesh a plan out for next wave of KPNG"
We now have tacit "approval" to keep pressing forward which means,
we need to do scale testing.

That will involve talking to sig scalability,
figuring out resources and how to get 1000 node clusters,
and what tests we do /dont run on them,
and how to get sign off.

This is a long term task that needs an owner, lots of water carrying involved.  Anyone want to own it?

[2022-10-14 23:53] jayunit100 opened #380 "restructure the KEP (10/14/2022)"
Were going to carve the KPNG KEP into 3 sections:

- the GRPC API and how it works  https://github.com/kubernetes-sigs/kpng/blob/master/api/localnetv1/services.proto
- the way that staging https://github.com/kubernetes/kubernetes/tree/master/staging will work and migrate
- the scalability testing and requirements

We can then go back to sig-net in the next few months... this is a follow on from ou

[2022-10-15 06:57] aryan9600 commented on #375
/good-first-issue

[2022-10-15 07:05] uablrek commented on #377
Please remember;

### CI or any plugin MUST NOT update the repository itself!

It may seem loke a cool idea but _will_ come back and bite you in some way. Do as K8s, have a format test in CI that fails.

[2022-10-15 07:10] uablrek commented on #377
For instance;
an update trigs an event -> the event updates the repo -> an update trigs an event -> ...

If you have more than one event that updates the code this is likely, and will ruin your day.

[2022-10-16 00:37] #375 closed

[2022-10-16 12:54] jayunit100 opened #383 "tilt Developer ux for kpng"
lets see if we can, while hardening the proxies, get. a tilt environment up and running, so that we can quickly change a backend and see it redeployed live

[2022-10-16 13:08] jayunit100 commented on #383
/good-first-issue

[2022-10-17 06:47] aryan9600 commented on #280
/reopen

[2022-10-17 13:16] jayunit100 opened #384 "kill off go mod tidy stuff"
im running go mod tidy all the time, go workspaces....

[2022-10-18 02:52] astoycos commented on #384
I'm not 100% sure what needs to be done here yet, but utilizing go workspaces + standard go module commands can result in some issues. I will update this issue as I learn more!

[2022-10-18 02:53] astoycos commented on #351
/assign @astoycos

[2022-10-18 14:22] jayunit100 opened #386 "Figure out how to get code for kpng into /staging"
We need someone to start interacting with sig-arch, to figure out how we would integrate into the staging repository, and wether or not, we *can* integrate into the staging/ repository.

[2022-10-18 14:24] jayunit100 commented on #386
@nehaLohia27

[2022-10-18 15:31] astoycos opened #387 "Rename `Endpoints` service in GRPC API to local"
Fix t[his TODO](https://github.com/kubernetes-sigs/kpng/blob/master/api/localnetv1/services.proto#L21) in order to make the API easier to read.

[2022-10-18 15:31] astoycos commented on #387
/assign

[2022-10-19 13:00] astoycos commented on #305
/un-assign Opening this up for folks

[2022-10-19 13:00] astoycos commented on #305
I can still help here though please reach out if you need help!

[2022-10-21 14:15] #351 closed

[2022-10-21 20:26] adityadtu5 commented on #378
/assign

[2022-10-24 03:02] ksankeerth commented on #383
/assign

I'll give a try.

[2022-10-25 09:55] mcluseau commented on #312
I think it's fixed
/close

[2022-10-25 09:55] #312 closed

[2022-10-28 02:16] jayunit100 commented on #311
Thx lars can you clarify what you mean by don't check modules ? Sorry not using ipvs often so don't really know what we should do here

[2022-10-28 02:18] jayunit100 commented on #311
Ohhh I see your original comment gotcha will ask more qs later thx

[2022-10-28 05:20] uablrek commented on #311
Kpng (or K8s for that matter) MUST NOT make assumptions on how the kernel is built or about special locations like `/boot`.

When a *function* that requires a module (like `ipvs`) is requested the kernel will *automatically load modules if needed*.

So, to test a *function* one must do some (dummy) request. A simple "list" (ipvs, iptables, conntrack, etc.) will most likely do.

As a side remark, `

[2022-10-30 16:41] #283 closed

[2022-10-31 21:17] jayunit100 opened #391 "separating kpng cord and kpng backend APIs"
(just did this at kpngcon)  details are in the PR

#390

[2022-11-03 14:21] #282 closed

[2022-11-04 12:54] jayunit100 opened #393 "WINDOWS Implement kernelspace fullstate backend"
Looked at the NFT code today w/ @papagalu , we think a windows backend will be alot
more easy to understand if we build it iteratively.

Lets start by  , without using diffstore, building a stateless windows fullstate backend and see how it works.

Then from there we can add diffstore in secondarily.

Roughly this involves:
- taking nft.go, copying it over, removing nftables refs, implementing `Ca

[2022-11-04 15:25] jayunit100 commented on #386
per @astoycos , sounds like weve made some progress on this....
no initial feedback yet

[2022-11-04 15:57] jayunit100 opened #394 "new KEP for "kube proxy lib""
TLDR We need to decide on wether or not staging/ is really going to be the right place for this code to live, to me, thats a function of "will core k8s depend on it".

# Details

We have 2 options as far as what functionality we carry in kpng: Redundant k/k/proxy/... functionality, or, let k/k/proxy live on (until a later date when it wants to be coupled).  I think we need to  pick a horse: A hybr

[2022-11-04 16:12] #391 closed

[2022-11-04 20:39] bowei commented on #394
/cc @bowei

[2022-11-07 13:35] jayunit100 commented on #394
Just posted this on the mailing list, but not sure it went through: talked w/ @rajaskakodkar and he talked with @palnabarun  and @nikhita ....

So, circling back a few weeks later, and hearing from rajas, nikhita, naburun, and others....
- i think in KPNG we have, a new type of CAR
- but what sig-net is asking for, is a BATTERY

Antonio's original comment deserves imo another look:

"I still don't

[2022-11-11 05:48] #271 closed

[2022-11-11 16:42] jayunit100 opened #396 "incremental user space proxy fixes"
@aryan9600  just issued #365  , opening retroactive issue for tracing it

thanks !

[2022-11-11 16:42] #396 closed

[2022-11-16 07:42] aryan9600 commented on #280
/reopen

[2022-11-29 15:03] #383 closed

[2022-11-29 15:51] emabota commented on #352
Hi @jayunit100,
while trying to replicate this issue, whenever I run the script `./test_e2e.sh -i ipv4 -b iptables` it fails with the following end message:

Can you, please, help me figure out why it's happening? Find attached the "log" of the script.
[test_e2e_status.log](https://github.com/kubernetes-sigs/kpng/files/10114534/test_e2e_status.log)

[2022-11-29 20:57] jayunit100 commented on #330
Still doing ths

[2022-11-29 20:59] jayunit100 commented on #352
Ouch looks like you didn't get a cluster is kind installed ? Any other suspicious logs ?